{% extends "layout.html" %}

{% block pageTitle %}
Check your answers
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-l">Check your answers</h1>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <h2 class="govuk-heading-m">Household details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            What is the tenant code?
          </dt>
          <dd class="govuk-summary-list__value">

            {{ data["tenant-code"][0] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="tenant-code">
              Change<span class="govuk-visually-hidden">Tenant Code</span>
            </a>
          </dd>
        </div>
      </dl>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Tenant's Age
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["tenant-age"][0] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="tenant-age">
              Change<span class="govuk-visually-hidden">Tenant Age</span>
            </a>
          </dd>
        </div>
      </dl>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Tenant's Gender
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["gender"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="gender">
              Change<span class="govuk-visually-hidden">Tenant Gender</span>
            </a>
          </dd>
        </div>
      </dl>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Work
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["economic-status"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="economic-status">
              Change<span class="govuk-visually-hidden">Economic Status</span>
            </a>
          </dd>
        </div>
      </dl>
    </dl>
    </dl>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Ethnicity
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data["ethnicity"][0] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="ethnicity">
            Change<span class="govuk-visually-hidden">Ethnicity</span>
          </a>
        </dd>
      </div>
    </dl>
    </dl>
    </dl>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Nationality
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data["nationality"][0] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="nationality">
            Change<span class="govuk-visually-hidden">Nationality</span>
          </a>
        </dd>
      </div>
    </dl>
    </dl>
    </dl>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Number of Other Household Members
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data["number-of-other-members"][0] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="other-household-members">
            Change<span class="govuk-visually-hidden">Other Household Members</span>
          </a>
        </dd>
      </div>
    </dl>
    </dl>
    </dl>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Armed Forces
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data["armed-forces"] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="armed-forces">
            Change<span class="govuk-visually-hidden">Armed Forces</span>
          </a>
        </dd>
      </div>
    </dl>
    </dl>
    </dl>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Pregnancy
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data["pregnancy"] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="pregnancy">
            Change<span class="govuk-visually-hidden">Pregnancy</span>
          </a>
        </dd>
      </div>
    </dl>
    </dl>
    </dl>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Reason for leaving past settled accomodation
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data["reason-for-leaving"] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="reason-for-leaving">
            Change<span class="govuk-visually-hidden">reason-for-leaving</span>
          </a>
        </dd>
      </div>
    </dl>
    </dl>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Reason for leaving a result of removal of spare room subsidy or benefit cap?
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data["reason-removal"] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="reason-for-leaving">
            Change<span class="govuk-visually-hidden">reason-for-leaving</span>
          </a>
        </dd>
      </div>
    </dl>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Disability Requirements
        </dt>
        <dd class="govuk-summary-list__value">
          {% set value = data["disabilities"] |d([]) | join(", ") %}
            {{ value | trim_end(", ") }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="disabilities">
            Change<span class="govuk-visually-hidden">disabilities</span>
          </a>
        </dd>
      </div>
    </dl>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Physical or Mental Health Conditions lasting more than 12 months
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data["long-term-conditions"] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="disabilities">
            Change<span class="govuk-visually-hidden">disabilities</span>
          </a>
        </dd>
      </div>
    </dl>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Conditions or illnesses
        </dt>
        <dd class="govuk-summary-list__value">
          {% set value = data["conditions"] |d([]) | join(", ") %}
            {{ value | trim_end(", ") }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="disabilities">
            Change<span class="govuk-visually-hidden">disabilities</span>
          </a>
        </dd>
      </div>
    </dl>
    </dl>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          The housing situation for this household immediately before this letting
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data["previous-housing-situation"] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="previous-housing-situation">
            Change<span class="govuk-visually-hidden">previous-housing-situation</span>
          </a>
        </dd>
      </div>
    </dl>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          The LA in which household lived immediately before this letting
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data["previous-la"] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="previous-la">
            Change<span class="govuk-visually-hidden">previous-la</span>
          </a>
        </dd>
      </div>
    </dl>

    {% set value = data["previous-postcode"] if data["previous-postcode"] else "" %}
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Postcode of previous accomodation if the household has moved from settled accommodation
        </dt>
        <dd class="govuk-summary-list__value">
          {{ value | trim_end(",") }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="previous-postcode">
            Change<span class="govuk-visually-hidden">previous-postcode</span>
          </a>
        </dd>
      </div>
    </dl>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          How long has the household continuously lived in the local authority area where the new letting is located?
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data["time-lived-in-la"] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="time-lived-in-la">
            Change<span class="govuk-visually-hidden">time-lived-in-la</span>
          </a>
        </dd>
      </div>
    </dl>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
           How long has the household been on the local authority waiting list where the new letting is located?
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data["time-on-waiting-list"] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="time-on-waiting-list">
            Change<span class="govuk-visually-hidden">time-on-waiting-list</span>
          </a>
        </dd>
      </div>
    </dl>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Immediately prior to this letting, was this household…?
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data["homeless"] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="homeless">
            Change<span class="govuk-visually-hidden">homeless</span>
          </a>
        </dd>
      </div>
    </dl>

    <form action="../tasklist" method="post" novalidate>
      <input type="hidden" name="household-completed" value="true">
      <button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>
    </form>

  </div>
</div>

{% endblock %}
