{% extends "layout.html" %}

{% block pageTitle %}
Check your answers
{% endblock %}



{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-l">Check your answers</h1>


    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <h2 class="govuk-heading-m"> Tenacy details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Is this a starter or introductory tenacy?
          </dt>
          <dd class="govuk-summary-list__value">
          {{ data["tenacy-starter"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="feedstock-supply">
              Change<span class="govuk-visually-hidden"> feedstock supply</span>
            </a>
          </dd>
        </div>


      </dl>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          Type of main tenancy (after any starter/introductory period)

          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["type-of-main-tenacy"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="feedstock-supply">
              Change<span class="govuk-visually-hidden"> feedstock supply</span>
            </a>
          </dd>
        </div>


      </dl>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            What is the tenant code?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["tenant-code"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="feedstock-supply">
              Change<span class="govuk-visually-hidden"> feedstock supply</span>
            </a>
          </dd>
        </div>


      </dl>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
          If the main tenancy is a fixed term tenancy, please provide the length of the fixed term (to the nearest year) excluding any starter/introductory period
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["fixed-term"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="feedstock-supply">
              Change<span class="govuk-visually-hidden"> feedstock supply</span>
            </a>
          </dd>
        </div>


      </dl>




    <form action="../tasklist" method="post" novalidate>

      <input type="hidden" name="tenancy-completed" value="true">


      <button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>

    </form>

  </div>
</div>

{% endblock %}
