{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="tenant-code">Tenant Code</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="tenant-age">Age</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="gender">Gender</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="economic-status">Work</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="ethnicity">Ethnicity</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="nationality">Nationality</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="other-household-members">Other Household Members</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="armed-forces">Armed Forces</a>
    </li>
  </ol>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="reason-for-leaving" method="POST" novalidate="" data-validate="my-form-validation">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Does the household contain a pregnant person?
            </h1>
          </legend>
          <div class="govuk-radios govuk-radios--small">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="pregnancy" name="pregnancy" type="radio" value="Yes" {{ 'checked' if data['pregnancy'] == "Yes" }}>
              <label class="govuk-label govuk-radios__label" for="pregnancy">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="pregnancy" name="pregnancy" type="radio" value="No" {{ 'checked' if data['pregnancy'] == "No" }}>
              <label class="govuk-label govuk-radios__label" for="pregnancy-2">
                No
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="pregnancy" name="pregnancy" type="radio" value="Refused" {{ 'checked' if data['pregnancy'] == "Refused" }}>
              <label class="govuk-label govuk-radios__label" for="pregnancy-3">
                Refused
              </label>
            </div>
          </div>

        </fieldset>
      </div>

      <input type="hidden" name="pregnancy-page">
      <input type="hidden" name="household-inprogress" value="true">
      <input class="govuk-button" type="submit" value="Save and continue" />

      </fieldset>

    </form>
  </div>
</div>

{% endblock %}
