{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="tenant-code">Tenant Code</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="tenant-age">Age</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="reason-removal">reason-removal</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="economic-status">Work</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="ethnicity">Ethnicity</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="nationality">Nationality</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="other-household-members">Other Household Members</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="armed-forces">Armed Forces</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="pregnancy">Pregnancy</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="reason-for-leaving">Reason for leaving past settled accomodation</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="disabilities">Disability requirements</a>
    </li>
  </ol>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="previous-la" method="POST" novalidate="" data-validate="my-form-validation">

      <h1 class="govuk-heading-xl">Household Details</h1>


      {% set situations = [
        "Owner occupation (private)","Owner occupation (low cost home ownership)","Private sector tenancy","Tied housing or rented with job","Supported housing","Sheltered accomodation","Residential care home","Living with friends or family","Refuge","Hospital","Prison / Approved Probation Hostel","Direct access hostel","Bed &amp; Breakfast","Mobile home / caravan","Any other temporary accommodation","Home Office Asylum Support","Children’s home / foster care","Rough sleeping","Other","Fixed term Local Authority General Needs tenancy","Lifetime Local Authority General Needs tenancy","Fixed term PRP General Needs tenancy","Lifetime PRP General Needs tenancy"
        ] %}

      {% set previousHousingSituationItems = [] %}

      {% for situation in situations %}
        {% set previousHousingSituationItems = (previousHousingSituationItems.push({value: situation, text: situation, checked: checked("previous-housing-situation", situation)}), previousHousingSituationItems) %}
      {% endfor %}

      <legend class="govuk-fieldset__legend--l">
        <h1 class="govuk-label--m">
          The housing situation for this household immediately before this letting
        </h1>
      </legend>

      {{ govukSelect({
      idPrefix: "previous-housing-situation",
      name: "previous-housing-situation",
      items: previousHousingSituationItems
    }) }}


      <input type="hidden" name="previous-housing-situation-page">
      <input type="hidden" name="household-inprogress" value="true">
      <input class="govuk-button" type="submit" value="Save and continue" />

      </fieldset>

    </form>
  </div>
</div>

{% endblock %}
