{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="tenant-code">Tenant Code</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="tenant-age">Age</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="reason-removal">reason-removal</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="economic-status">Work</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="ethnicity">Ethnicity</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="nationality">Nationality</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="other-household-members">Other Household Members</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="armed-forces">Armed Forces</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="pregnancy">Pregnancy</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="reason-for-leaving">Reason for leaving past settled accomodation</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="disabilities">Disability requirements</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="previous-housing-situation">Previous housing situation</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="previous-la">Previous LA</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="previous-postcode">Previous postcode</a>
    </li>
  </ol>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="time-on-waiting-list" method="POST" novalidate="" data-validate="my-form-validation">

      {% set options = [
        "Just moved to Local Authority area","Less than 1 year","1 year but under 2 years", "2 years but under 3 years","3 years but under 4 years",
        "4 years but under 5 years","5 years or more", "Don't know"
        ] %}

      {% set optionsItems = [] %}

      {% for option in options %}
        {% set optionsItems = (optionsItems.push({value: option, text: option, checked: checked("time-lived-in-la", option)}), optionsItems) %}
      {% endfor %}

      <legend class="govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          How long has the household continuously lived in the local authority area where the new letting is located?
        </h1>
      </legend>

      {{ govukSelect({
      idPrefix: "time-lived-in-la",
      name: "time-lived-in-la",
      items: optionsItems
    }) }}

      <input type="hidden" name="time-lived-in-la-page">
      <input type="hidden" name="household-inprogress" value="true">
      <input class="govuk-button" type="submit" value="Save and continue" />

      </fieldset>

    </form>
  </div>
</div>

{% endblock %}
