{% macro radios(params) %}
<div class="govuk-form-group">
  <fieldset class="govuk-fieldset">
    <legend class="govuk-fieldset__legend {% if params.isPageTitle %}govuk-fieldset__legend--xl{% endif %}">
      {% if params.isPageTitle %}
        {% if params.sectionTitle %}<span class="govuk-caption-xl">{{ params.sectionTitle }}</span>{% endif %}
        <h1 class="govuk-fieldset__heading">{{ params.legend }}</h1>
      {% else %}
        {{ params.legend }}
      {% endif %}
    </legend>
    <div class="govuk-radios">
      {%- for item in params.items -%}
        {% if item.divider %}
        <div class="govuk-radios__divider">{{ item.divider }}</div>
        {% else %}
        {% set checked = '' %}
        {% if item.value == params.currentValue %}{% set checked = 'checked' %}{% endif %}
        {% set idSuffix = '-' + loop.index %}
        {% if loop.index == 1 %}{% set idSuffix = '' %}{% endif %}
        <div class="govuk-radios__item">
          <input class="govuk-radios__input" id="{{ params.id }}{{ idSuffix }}" name="{{ params.id }}" type="radio" value="{{ item.value }}" {{ checked }}>
          <label class="govuk-label govuk-radios__label" for="{{ params.id }}{{ idSuffix }}">{{ item.text }}</label>
        </div>
        {% endif %}
      {%- endfor -%}
    </div>
  </fieldset>
</div>
{% endmacro %}