{% extends "layout.html" %} {% block pageTitle %} Bulk Upload {% endblock %}
{% block header %}
  <!-- Blank header with no service name for the start page -->
  {{ govukHeader() }}
{% endblock %}
{% block beforeContent %}
<a class="govuk-back-link" href="/sprint2">Back</a>
{% endblock %} {% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h2 class="govuk-caption-l govuk-!-margin-top-0">Upload data</h2>
    <h1 class="govuk-heading-xl">Upload your files</h1>
    <p class="govuk-caption-m">Choose the files that contain your data, we will then ask you to map these to ours before you can continue your submission.</p>

    <!-- Form and validation script -->
    <script>
      var _validFileExtensions = [".csv", ".xls", ".xlsx"]; //File extensions that we accept
      let validation = false; //Valid boolean
      let privacyNoteTick = false; //Privacy note boolean
      //*
      // Adds the styles and span to the error components
      //*
      const setErrorStyles = () => {
        validation
          ? (document.getElementById("file-upload-1-error").style.display =
              "none")
          : (document.getElementById("file-upload-1-error").style.display =
              "block");

        privacyNoteTick
          ? (document.getElementById("file-upload-2-error").style.display =
              "none")
          : (document.getElementById("file-upload-2-error").style.display =
              "block");

        !validation || !privacyNoteTick
          ? document
              .getElementById("govuk-form-group")
              .classList.add("govuk-form-group--error")
          : document
              .getElementById("govuk-form-group")
              .classList.remove("govuk-form-group--error");
      };
      //*
      // Update when privacy note checkbox changed
      //*
      function updatedPrivacyNote(checked) {
        privacyNoteTick = checked;
        setErrorStyles();
      }
      //*
      // Check input file extension against predeined allowed extensions
      //*
      const checkFileExstension = (fileName) => {
        for (var j = 0; j < _validFileExtensions.length; j++) {
          let extensionTypeCheck = _validFileExtensions[j];
          const inputFileExtension = fileName
            .substr(
              fileName.length - extensionTypeCheck.length,
              extensionTypeCheck.length
            )
            .toLowerCase();
          if (inputFileExtension == extensionTypeCheck.toLowerCase()) {
            return true;
          }
        }
        return false;
      };
      //*
      // Validate that the file input type is correct and deal with errors
      //*
      function validateFileType(oInput) {
        var blnValid = false;
        if (oInput.type == "file") {
          var fileName = oInput.value;
          if (fileName.length > 0) {
            blnValid = checkFileExstension(fileName);
          }
        }
        validation = blnValid;
        setErrorStyles();
      }
      //*
      // Check validation has been passed on form submit
      //*
      function submitForm() {
        setErrorStyles();
        let submit = validation && privacyNoteTick ? true : false;
        return submit;
      }
    </script>

    <!-- form start -->
    <form
      class="upload"
      onsubmit="return submitForm();"
      action="/sprint2/upload/tabular-data?template=sprint2/tasklist"
      method="post"
      enctype="multipart/form-data"
    >
      <div class="govuk-form-group" id="govuk-form-group">
        <!-- upload file start -->
        <label class="govuk-label" for="file-upload-1"> <strong>Upload a file</strong> </label>

        <!-- errors start -->
        <span
          style="display: none"
          id="file-upload-2-error"
          class="govuk-error-message"
        >
          <span class="govuk-visually-hidden">Error:</span> Please confirm you
          have read the privacy note.
        </span>
        <span
          style="display: none"
          id="file-upload-1-error"
          class="govuk-error-message"
        >
          <span class="govuk-visually-hidden">Error:</span> The file must be
          .csv, .xls, .xlsx, .xml.
        </span>
        <!-- errors end -->

        <input
          class="govuk-file-upload govuk-file-upload--error"
          id="file-upload-1"
          accept=".csv, .xls, .xlsx"
          name="file"
          type="file"
          aria-describedby="file-upload-1-error"
          onchange="return validateFileType(this)"
        />
        <!-- upload file end -->

        <!-- checkbox start -->
        <div class="govuk-checkboxes govuk-!-padding-bottom-4 govuk-!-padding-top-4">
          <div class="govuk-checkboxes__item">
            <input
              class="govuk-checkboxes__input"
              id="privacy-note"
              name="privacy-note"
              type="checkbox"
              value="privacy-note"
              onchange="updatedPrivacyNote(this.checked)"
            />
            <label class="govuk-label govuk-checkboxes__label" for="waste">
              I confirm I have shown the
              <a href="/public/files/MHCLGPrivacyNotice.pdf" class="govuk-link" download>privacy note</a> set out by MHCLG to the tenants/buyers
            </label>
          </div>
        </div>
        <!-- checkbox end -->
      </div>
      <button class="govuk-button" data-module="govuk-button">Upload data</button>
    </form>
    <!-- form end -->

    <!-- Start accordion -->
    <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-default">
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-1">
              What formats can I use?
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-1" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-1">
          <p class='govuk-body'>Supported formats: CSV, XLS, XLSX and XML. Please note only one header can be used for these file types.</p>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-2">
              Can I upload more than one file?
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-2" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-2">
          <p class='govuk-body'>Not right now, we are working hard to allow multiple file uploads. For now we reccomend combining your files into one sheet with one set of headers only if you have multiple sources.</p>
        </div>
      </div>
      <div class="govuk-accordion__section ">
        <div class="govuk-accordion__section-header">
          <h2 class="govuk-accordion__section-heading">
            <span class="govuk-accordion__section-button" id="accordion-default-heading-3">
              I am getting an error, I need help
            </span>
          </h2>
        </div>
        <div id="accordion-default-content-3" class="govuk-accordion__section-content" aria-labelledby="accordion-default-heading-3">
          <p class='govuk-body'>Please email support@support.com with your query and we will try to respond in 3 working days.</p>
        </div>
      </div>
    </div>

  </div>
</div>
{% endblock %}
