{% extends "layout.html" %}

{% block pageTitle %}
  Radio Example
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}

<script>
  function updateResults(v){
    document.getElementById(v.name).innerHTML=v.value.charAt(0).toUpperCase() + v.value.slice(1);
  }
</script>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-m">It looks like you need to map your data to ours!</span>
    <h1 class="govuk-heading-xl">Map your data</h1>

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-third">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
               Your data
              </h1>
            </legend>
            <div id="changed-name-hint" class="govuk-hint">
              Select the data to match.
            </div>
            <div id="your-data-radios" class="govuk-radios govuk-radios--inline">
            </div>
          </div>

      </div>

      <script src="/public/javascripts/example-column-data.js"></script>

      <div class="govuk-grid-column-one-third">

        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
               Our data
              </h1>
            </legend>
            <div id="changed-name-hint" class="govuk-hint">
              Match your data to ours.
            </div>
            <div id="our-data-radios" class="govuk-radios govuk-radios--inline">
            </div>
          </fieldset>
        </div>

      <script>
        function addRadios(columns, whose, sectionId){
          var options = ""
          $.each(columns, function(i, column){
            options = options + `<div class="govuk-radios__item"> <input
                  class="govuk-radios__input" onchange="updateResults(this)"
                    id="start-date" name="${whose}" type="radio" value="${column}">
                    <label class="govuk-label govuk-radios__label"
                    for="start-date"> ${column}</label> </div>`;
          })
          $(sectionId).append(options);
        }

        addRadios(theirColumns, "yours","#your-data-radios")
        addRadios(ourColumns, "ours","#our-data-radios")
      </script>
      </div>
      <div class="govuk-grid-column-one-third">
        {{ govukRadios({
          classes: "govuk-radios--inline",
          idPrefix: "our-data",
          name: "our-data",
          fieldset: {
            legend: {
              text: "Result",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          hint: {
            text: "Confirm your selection"
          }
  }) }}

        <p><span id="yours"></span> &#8594; <span id="ours"></span></p>
        {{ govukButton({
          text: "Confirm and add"
        }) }}

      </div>
    </div>
  </div>
</div>


<div class="govuk-width-container">

  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">

        <h1 class="govuk-heading-l">Check your answers before submitting</h1>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Type of property
            </dt>
            <dd class="govuk-summary-list__value">
              &#8594;
            </dd>
            <dd class="govuk-summary-list__value">
              Property type
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Tenancy start date
            </dt>
            <dd class="govuk-summary-list__value">
              &#8594;
            </dd>
            <dd class="govuk-summary-list__value">
              Start date
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> date of birth</span>
              </a>
            </dd>
          </div>
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Address
            </dt>
            <dd class="govuk-summary-list__value">
              &#8594;
            </dd>
            <dd class="govuk-summary-list__value">
              Property address
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="#">
                Change<span class="govuk-visually-hidden"> address</span>
              </a>
            </dd>
          </div>

        </dl>

        <h2 class="govuk-heading-m">Now submit to map your data</h2>

        <p class="govuk-body">After a successful submission you will be able to upload your data in this format from now on automating your submissions into CORE</p>

        <form action="/sprint2/form-handler" method="post" novalidate>

          <input type="hidden" name="answers-checked" value="true">

          <button class="govuk-button" data-module="govuk-button">
            Submit
          </button>

        </form>

      </div>
    </div>
  </main>
</div>


{% endblock %}
