{% extends "layout.html" %}

{% block pageTitle %}
  Task list
{% endblock %}

{% block content %}

  <script src="/public/javascripts/mhclg_column_data.js"></script>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h1 class="govuk-heading-xl">
        Data mapping
      </h1>

      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Upload successful</h2>
      <p class="govuk-body govuk-!-margin-bottom-7">Please select a data type to map your data to the CORE database.</p>

      <ol class="app-task-list" id="group-list">
      </ol>
    </div>
  </div>

  <script>
    function addQuestions(sectionId){
      return function questions(index, question){
        const hasMapping = question.mappedTo != null
        const arrow = "&#8594;"
        const chevron = "&nbsp;&nbsp;&#8250;&nbsp;&nbsp;"
        const mapping = hasMapping ? `${chevron}${question.mappedTo}` : ""
        const tagColour = hasMapping ? "green" : "grey"
        const tag = hasMapping ? "Mapped" : "Unmapped"

        const questionItem = `
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                   ${question.name}
                   ${mapping}
              </span>
              <a href="" class="app-task-list__tag govuk-link--no-visited-state"
   style="padding-left: 10px">Edit</a>
   <strong class="govuk-tag govuk-tag--${tagColour} app-task-list__tag"
   id="list-convictions-status">${tag}</strong>
            </li>
           `
          $(sectionId).append(questionItem);
      }
    }

    function group(index, groupData){
          console.log(groupData)
      const groupList = `
        <li>
          <h2 class="app-task-list__section">
   <span class="app-task-list__section-number"></span>${groupData.columnName}
          </h2>
          <ul class="app-task-list__items" id="group-list-items-${index}">
          </ul>
            `

      $("#group-list").append(groupList);
      $.each(groupData.columns, addQuestions(`#group-list-items-${index}`))
    }

    $.each(mhclg_data_columns, group);
  </script>

  <button class="govuk-button" data-module="govuk-button">
    Confirm and save mappings
  </button>
{% endblock %}

