{% extends "layout.html" %} {% block pageTitle %} Task list {% endblock %} {%
block content %}

<script>
  function edit(columnName) {
    $("#columnToEdit").attr("value", columnName);
    $("#edit-form").submit();
  }
</script>

<form action="/sprint2/mapping" id="edit-form">
  <input type="hidden" id="columnToEdit" name="columnToEdit" value="" />
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <h2 class="govuk-caption-l govuk-!-margin-top-0">File upload successful</h2>
      <h1 class="govuk-heading-xl">Please map your data to CORE</h1>
      <div class="govuk-inset-text">
          To speed up future data submission, map your data fields to the CORE data structure. <strong> You should only need to do this once per year.
        </strong> Your data will be accepted after the mapping is complete.
      </div>
      <h2 class="govuk-heading-s govuk-!-margin-bottom-2">Page {{ 1 + data.nextPage | int }}
        of {{data.mhclgSections|length }}</h2>
      <h3 class="govuk-heading-s govuk-!-margin-bottom-2">We have automatically mapped 73/85 fields</h3>
      <p class="govuk-body govuk-!-margin-bottom-7">Please select a data type to map your data to the CORE database.</p>

      <ol class="app-task-list" id="group-list">
        <li>
          <h2 class="app-task-list__section">
            {{ data.mhclgSections[data.nextPage].columnName }}
          </h2>
          <ul class="app-task-list__items govuk-!-padding-left-0" id="group-list-items-${index}">
            {% for question in data.mhclgSections[data.nextPage].columns %}
            <li class="app-task-list__item">
              <span class="app-task-list__task-name">
                {{ question }}
                {% if data.columnMappings[question] %}
                &nbsp;&nbsp;&#8250;&nbsp;&nbsp; {{ data.columnMappings[question] }}
                {% endif %}
              </span>
              <a href="javascript:edit('{{ question }}')" class="app-task-list__tag govuk-link--no-visited-state"
   style="padding-left: 10px">Edit</a>
   <strong class="govuk-tag govuk-tag--{% if data.columnMappings[question] %}green{% else %}grey{% endif %} app-task-list__tag"
           id="list-convictions-status">
     {% if data.columnMappings[question] %}Mapped{% else %}Unmapped{% endif %}
   </strong>
            </li>
            {% endfor %}
          </ul>
        </li>
      </ol>
    </div>
  </div>
</form>
<div class="buttons-test" style="display: flex">
  <form action="/sprint2/tasklist" id="task-form">
    <input
      type="hidden"
      name="current_page"
      value="{{ data.nextPage-2 | int }}"
    />
    <input
      type="hidden"
      name="nextPage"
      value="{{ data.nextPage - 1 | int }}"
    />
    {% if data.nextPage > 0 %}
    <input
      type="submit"
      value="Previous Page"
      class="govuk-button govuk-!-margin-right-3"
      data-module="govuk-button"
    />
    {% endif %}
  </form>

  <form action="/sprint2/tasklist" id="task-form">
    <input
      type="hidden"
      name="current_page"
      value="{{ data.nextPage | int }}"
    />
    <input
      type="hidden"
      name="nextPage"
      value="{{ 1 + data.nextPage | int }}"
    />
    {% if data.nextPage < 4 %}
    <input
      type="submit"
      value="Next Page"
      class="govuk-button govuk-!-margin-right-3"
      data-module="govuk-button"
    />
    {% endif %}
  </form>

  {% if data.nextPage == 4 %}
  <a
    href="/sprint2/confirmation"
    role="button"
    draggable="false"
    class="govuk-button govuk-!-margin-right-3"
    data-module="govuk-button"
  >
    Finish
    <svg
      class="govuk-button__start-icon"
      xmlns="http://www.w3.org/2000/svg"
      width="17.5"
      height="16"
      viewBox="0 0 33 40"
      aria-hidden="true"
      focusable="false"
    >
      <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path></svg
  ></a>
  {% endif %}
</div>
{% endblock %}
