{% extends "layout.html" %}
{% import "../_partials/_get-help.njk" as help %}
{% import "../_partials/_questions.njk" as question %}
{% import "../_partials/_helpers.njk" as helper %}

{% set title = "What is the type of tenancy after the starter period has ended?" %}
{% set sectionTitle = 'Tenancy information' %}
{% set groupId = 'tenancy' %}
{% set sectionId = 'information' %}
{% set version = data['version'] %}

{% block pageTitle %}
{{ helper.pageTitle(title, serviceName, errors) }}
{% endblock %}

{% block beforeContent %}
{{ helper.beforeContent() }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
       
    <form action="/{{ version }}/submit-form" method="post">

      {{ question.radios({
        legend: title,
        id: 'type-of-tenancy',
        items: data[version].radios['type-of-tenancy'],
        sectionTitle: sectionTitle,
        isPageTitle: true,
        currentValue: data['type-of-tenancy']
      }) }}
      
      <input type="hidden" name="this" value="/{{ version }}/{{ groupId }}-{{ sectionId }}/type-of-tenancy">
      <input type="hidden" name="next" value="/{{ version }}/{{ groupId }}-{{ sectionId }}/check-answers">
      
      {{ govukButton({
        text: "Save and continue"
      }) }}
    </form>
    {{ helper.quit(version) }}
    {{ help.details() }}

  </div>
</div>
{% endblock %}