{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="benefits">Universal Credit & Housing Benefit</a>
    </li>
  </ol>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="income" method="POST" novalidate="" data-validate="my-form-validation">

      <h1 class="govuk-heading-xl">Benefits as a proportion of income</h1>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">

          <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
            <h1 class="govuk-fieldset__heading">
              How much of your income comes from UC, state pensions or benefits (excluding child & housing benefit, UC housing element, council tax support or tax credits)?
            </h1>
          </legend>

          <div class="govuk-radios govuk-radios--small">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="benefit-proportion" name="benefit-proportion" type="radio" value="All" {{ 'checked' if data['benefit-proportion'][0] == "All" }}>
              <label class="govuk-label govuk-radios__label" for="benefit-proportion">
                All
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="benefit-proportion" name="benefit-proportion" type="radio" value="Some" {{ 'checked' if data['benefit-proportion'][0] == "Some" }}>
              <label class="govuk-label govuk-radios__label" for="benefit-proportion-2">
                Some
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="benefit-proportion" name="benefit-proportion" type="radio" value="None" {{ 'checked' if data['benefit-proportion'][0] == "None" }}>
              <label class="govuk-label govuk-radios__label" for="benefit-proportion-3">
                None
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="benefit-proportion" name="benefit-proportion" type="radio" value="Don't Know" {{ 'checked' if data['benefit-proportion'][0] == "Don't Know" }}>
              <label class="govuk-label govuk-radios__label" for="benefit-proportion-3">
                Don't Know
              </label>
            </div>
          </div>
        </fieldset>
      </div>

      <input type="hidden" name="benefit-proportion">
      <input type="hidden" name="benefits-and-income-inprogress" value="true">
      <input class="govuk-button" type="submit" value="Save and continue" />

    </form>
  </div>
</div>

{% endblock %}
