{% extends "layout.html" %}

{% block pageTitle %}
Check your answers
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-l">Check your answers</h1>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <h2 class="govuk-heading-m"> Tenancy details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Is this a starter or introductory tenancy?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["starter-tenancy"]}}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="start-tenancy">
              Change<span class="govuk-visually-hidden">start-tenancy</span>
            </a>
          </dd>
        </div>
      </dl>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Type of main tenancy (after any starter/introductory period)
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["tenancy-type"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="type-of-main-tenancy">
              Change<span class="govuk-visually-hidden">type-of-main-tenancy</span>
            </a>
          </dd>
        </div>
      </dl>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            What is the tenancy code?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["tenancy-code"][0] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="tenancy-code">
              Change<span class="govuk-visually-hidden">tenancy-code</span>
            </a>
          </dd>
        </div>
      </dl>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            If the main tenancy is a fixed term tenancy, please provide the length of the fixed term (to the nearest year) excluding any starter/introductory period
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["fixed-term"][0] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="fixed-term">
              Change<span class="govuk-visually-hidden">fixed-term</span>
            </a>
          </dd>
        </div>
      </dl>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Was the household given Reasonable Preference (i.e. priority) for housing by the Local Authority?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["reasonable-preference"][0] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="reasonable-preference">
              Change<span class="govuk-visually-hidden">reasonable-preference</span>
            </a>
          </dd>
        </div>
      </dl>

      <form action="../tasklist" method="post" novalidate>
        <input type="hidden" name="tenancy-completed" value="true">
        <button class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>
      </form>

  </div>
</div>

{% endblock %}
