
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="check-answers" method="POST" novalidate="" data-validate="my-form-validation">




<div class="govuk-form-group">

        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
        If the main tenancy is a fixed term tenancy, please provide the length of the fixed term (to the nearest year) excluding any starter/introductory period
            </h1>
          </legend>


          <div class="govuk-form-group">
                <input class="govuk-input govuk-input--width-20" id="width-20" name="fixed-term"  type="text"></div>
          </div>



           <input type="hidden" name="fixed-term">
           <input class="govuk-button" type="submit" value="Save and continue"  />

      </fieldset>
    </form>
   </div>
  </div>

{% endblock %}
