{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="start-tenancy">Is this a starter or introductory tenancy?</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="type-of-main-tenancy">Type of main tenancy</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="tenancy-code">Tenancy Code</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="tenancy-code">Fixed Term</a>
    </li>
  </ol>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="check-answers" method="POST" novalidate="" data-validate="my-form-validation">

      <div class="govuk-form-group">

        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Tenancy Details
            </h1>
          </legend>

          {{ govukRadios({
          idPrefix: "reasonable-preference",
          name: "reasonable-preference",
          fieldset: {
            legend: {
              text: "Was the household given Reasonable Preference (i.e. priority) for housing by the Local Authority?",
              classes: "govuk-label--m"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Yes",
              checked: checked("reasonable-preference", "Yes")
            },
            {
              value: "No",
              text: "No",
              checked: checked("reasonable-preference", "No")
            }
          ]
        }) }}
      </div>

      <input type="hidden" name="reasonable">
      <input type="hidden" name="tenancy-inprogress" value="true">
      <input class="govuk-button" type="submit" value="Save and continue" />

      </fieldset>
    </form>
  </div>
</div>

{% endblock %}
