
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="" method="POST" novalidate="" data-validate="my-form-validation">




<div class="govuk-form-group">

        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
            Is this a starter or introductory tenacy?
            </h1>
          </legend>

            <div class="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="organisation-housing_assocation" type="radio"  name="next-page" value="type-of-main-tenacy" data-value="Yes">
                <label class="govuk-label govuk-radios__label" for="organisation-housing_assocation">
                  Yes
                </label>
              </div>

              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="organisation-local_authority" type="radio"   name="next-page" value="type-of-main-tenacy" data-value="No">
                <label class="govuk-label govuk-radios__label" for="organisation-local_authority">
                No
                </label>
              </div>


            </div>
</div>



           <input type="hidden" name="tenacy-starter">
           <input class="govuk-button" type="submit" value="Save and continue"  />

      </fieldset>
    </form>
   </div>
  </div>

{% endblock %}
