{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="tenancy-start-date">Tenancy start date</a>
    </li>
  </ol>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="status-of-provider" method="POST" novalidate="" data-validate="my-form-validation">

      <div class="govuk-form-group">

        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Type of provider
            </h1>
          </legend>

          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="type-of-provider" type="radio" name="type-of-provider" value="Private registered provider" data-value="  Private Registered Provider">
              <label class="govuk-label govuk-radios__label" for="type-of-provider">
                Private registered provider
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="organisation-local_authority" type="radio" name="type-of-provider" value="Local authority" data-value="    Local Authority">
              <label class="govuk-label govuk-radios__label" for="type-of-provider-2">
                Local authority
              </label>
            </div>

          </div>
      </div>

      <input type="hidden" name="type-provider">
      <input type="hidden" name="provider-inprogress" value="true">
      <input class="govuk-button" type="submit" value="Save and continue" />

      </fieldset>
    </form>
  </div>
</div>

{% endblock %}
