{% extends "layout.html" %}

{% block pageTitle %}
Check your answers
{% endblock %}

{% block beforeContent %}
  <a href="wheelchair-accessible" class="govuk-back-link">Back</a>
  <a href="/sprint10/sign-in" class="govuk-link--right ">Sign out</a>
{% endblock %}

{% block content %}

{% set baseQuestions = ['property-location', 'postcode', 'relet', 'reason-for-vacancy', 'property-reference', 'type-of-unit', 'type-of-building', 'bedrooms', 'void-date-day', 'repairs', 'previously-offered', 'wheelchair-accessible'] %}
{% set conditionalQuestions = ['repairs-date-day'] %}
{% set allQuestions = ['property-location', 'postcode', 'relet', 'reason-for-vacancy', 'property-reference', 'type-of-unit', 'type-of-building', 'bedrooms', 'void-date-day', 'repairs', 'repair-date-day', 'previously-offered', 'wheelchair-accessible'] %}
{% set numberOfQuestions = baseQuestions | length %}
{% set numberOfCompletedQuestions = 0 %}

{% set repairDateConditional = (data['repairs'] == "Yes") %}
{% if repairDateConditional %}
  {% set numberOfQuestions = numberOfQuestions + 1 %}
{% endif %}

{% for question in allQuestions %}
  {% if data[question] %}
    {% set numberOfCompletedQuestions = numberOfCompletedQuestions + 1 %}
  {% endif %}
{% endfor %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-l">Check the answers you gave for Property</h1>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        {% if numberOfCompletedQuestions < numberOfQuestions %}
          <p class="govuk-body govuk-!-margin-bottom-7">You answered {{ numberOfCompletedQuestions }} of {{ numberOfQuestions }} questions.<br />
          <a class="task-name" href="/sprint10/property-section?next-page=''" aria-describedby="read-declaration-completed">Answer the missing questions</a>
        {% else %}
          <p class="govuk-body govuk-!-margin-bottom-7">You answered all the questions.<br />
        {% endif %}
      </p>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Property Location
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["property-location"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/sprint10/property/property-location?check=true">
              {{ "Change" if data["property-location"] else "Answer"}}<span class="govuk-visually-hidden">property-location</span>
            </a>
          </dd>
        </div>
      </dl>

      {% set value = data["postcode"] if data["postcode"] else "" %}
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Postcode
          </dt>
          <dd class="govuk-summary-list__value">
            {{ value | trim_end(",") }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/sprint10/property/postcode?check=true">
              {{ "Change" if data["postcode"] else "Answer"}}<span class="govuk-visually-hidden">postcode</span>
            </a>
          </dd>
        </div>
      </dl>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Most recent let basis
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["relet"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/sprint10/property/relet?check=true">
              {{ "Change" if data["relet"] else "Answer"}}<span class="govuk-visually-hidden">relet</span>
            </a>
          </dd>
        </div>
      </dl>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Reason for vacancy
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["reason-for-vacancy"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/sprint10/property/reason-for-vacancy?check=true">
              {{ "Change" if data["reason-for-vacancy"] else "Answer"}}<span class="govuk-visually-hidden">reason for vacancy</span>
            </a>
          </dd>
        </div>
      </dl>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Property reference
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["property-reference"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/sprint10/property/property-reference?check=true">
              {{ "Change" if data["property-reference"] else "Answer"}}<span class="govuk-visually-hidden">property reference</span>
            </a>
          </dd>
        </div>
      </dl>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Type of Unit
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["type-of-unit"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/sprint10/property/type-of-unit?check=true">
              {{ "Change" if data["type-of-unit"] else "Answer"}}<span class="govuk-visually-hidden">Type of unit</span>
            </a>
          </dd>
        </div>
      </dl>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Type of Building
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["type-of-building"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/sprint10/property/type-of-building?check=true">
              {{ "Change" if data["type-of-building"] else "Answer"}}<span class="govuk-visually-hidden">Type of building</span>
            </a>
          </dd>
        </div>
      </dl>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Number of bedrooms
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["bedrooms"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/sprint10/property/number-of-bedrooms?check=true">
              {{ "Change" if data["number-of-bedrooms"] else "Answer"}}<span class="govuk-visually-hidden">Bedrooms</span>
            </a>
          </dd>
        </div>
      </dl>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Void date
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['void-date-day'] %}
              {% set date = [data["void-date-day"], '/', data["void-date-month"], '/', data["void-date-year"]] | join | dateFormat  %}
              {{ date }}
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/sprint10/property/void-date?check=true">
              {{ "Change" if data["void-date-day"] else "Answer"}}<span class="govuk-visually-hidden">void-date</span>
            </a>
          </dd>
        </div>
      </dl>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Were major repairs carried out during the void period?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data['repairs'] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/sprint10/property/repair-date?check=true">
              {{ "Change" if data["repairs"] else "Answer"}}<span class="govuk-visually-hidden">repair-date</span>
            </a>
          </dd>
        </div>
      </dl>

      {% if repairDateConditional %}
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Repair date
          </dt>
          <dd class="govuk-summary-list__value">
            {% if data['repair-date-day'] %}
              {% set date = [data["repair-date-day"], '/', data["repair-date-month"], '/', data["repair-date-year"]] | join | dateFormat %}
              {{ date }}
            {% endif %}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/sprint10/property/repair-date?check=true">
              {{ "Change" if data["repair-date-day"] else "Answer"}}<span class="govuk-visually-hidden">repair-date</span>
            </a>
          </dd>
        </div>
      </dl>
      {% endif %}

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            How many times has this unit been previously offered since becoming available for relet since the last tenancy ended or as a first let?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["previously-offered"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/sprint10/property/previously-offered?check=true">
              {{ "Change" if data["previously-offered"] else "Answer"}}<span class="govuk-visually-hidden">previously-offered</span>
            </a>
          </dd>
        </div>
      </dl>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Is property built or adapted to wheelchair user standards?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["wheelchair-accessible"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/sprint10/property/wheelchair-accessible?check=true">
              {{ "Change" if data["wheelchair-accessible"] else "Answer"}}<span class="govuk-visually-hidden">Wheelchair accessible</span>
            </a>
          </dd>
        </div>
      </dl>
    </dl>

    <form action="../tasklist" method="post" novalidate>
      {% if numberOfCompletedQuestions < numberOfQuestions %}
        <input type="hidden" name="property-completed" value="false">
      {% else %}
        <input type="hidden" name="property-completed" value="true">
      {% endif %}
      <button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>
    </form>

    {% import "./../_get-help.njk" as help %}
    {{ help.details() }}
  </div>
</div>

{% endblock %}
