{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a href="property-reference" class="govuk-back-link">Back</a>
  <a href="/sprint11/sign-in" class="govuk-link--right ">Sign out</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form name="form" class="form" action="../property-section" method="POST" novalidate="" data-validate="my-form-validation">

      {{ govukRadios({
      idPrefix: "type-of-unit",
      name: "type-of-unit",
      classes: "govuk-radios--small",
      fieldset: {
        legend: {
          text: "Which type of unit is the property?",
          classes: "govuk-label--l"
        }
      },
      items: [
        {
          value: "Flat / maisonette",
          text: "Flat / maisonette",
          checked: checked("type-of-unit", "Flat / maisonette")
        },
        {
          value: "Bed-sit",
          text: "Bed-sit",
          checked: checked("type-of-unit", "Bed-sit")
        },
        {
          value: "House",
          text: "House",
          checked: checked("type-of-unit", "House")
        },
        {
          value: "Bungalow",
          text: "Bungalow",
          checked: checked("type-of-unit", "Bungalow")
        },
        {
          value: "Shared flat / maisonette",
          text: "Shared flat / maisonette",
          checked: checked("type-of-unit", "Shared flat / maisonette")
        },
        {
          value: "Shared house",
          text: "Shared house",
          checked: checked("type-of-unit", "Shared house")
        },
        {
          value: "Shared bungalow",
          text: "Shared bungalow",
          checked: checked("type-of-unit", "Shared bungalow")
        },
        {
          value: "Other",
          text: "Other",
          checked: checked("type-of-unit", "Other")
        }
      ]
    }) }}

      <input type="hidden" name="next-page" value="type-of-building">
      <input type="hidden" name="type-of-unit-page" value="true">
      <input type="hidden" name="property-inprogress" value="true">
      <div class="govuk-button-group">
        <input class="govuk-button" type="submit" value="Save and continue" onclick="saveContinue()"/>
        <a href="../home-page" class="govuk-link">Return to logs</a>
      </div>

    </form>
    {% import "./../_get-help.njk" as help %}
    {{ help.details() }}
  </div>
</div>

{% endblock %}
