{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a href="../tasklist" class="govuk-back-link">Back</a>
  <a href="/sprint11/sign-in" class="govuk-link--right ">Sign out</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form name="form" class="form" action="../confirmation" method="POST" novalidate="">

      <div class="govuk-form-group">

        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Declaration
            </h1>
          </legend>
      </div>

      <input type="hidden" name="submission-completed" value="true">
      <button class="govuk-button govuk-button app-task-list__tag" data-module="govuk-button">
        Submit
      </button>

      </fieldset>
    </form>
    {% import "./../_get-help.njk" as help %}
    {{ help.details() }}
  </div>
</div>

{% endblock %}
