{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="property-reference">Property reference</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="number-of-bedrooms">Number of bedrooms</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="type-of-unit">Type of unit</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="type-of-building">Type of building</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="wheelchair-accessible">Wheelchair accesible</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="relet">Most recent let basis</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="reason-for-vacancy">Reason for vacancy</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="reason-for-vacancy">Property Location</a>
    </li>
  </ol>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="void-date" method="POST" novalidate="" data-validate="my-form-validation">

      <h1 class="govuk-heading-xl">Property Details</h1>

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="postcode-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-label--m">
              Postcode
            </h1>
          </legend>
          <div id="postcode-hint" class="govuk-hint">
          </div>

          <div class="govuk-form-group">
            {% set value = data["postcode"] %}
            <input class="govuk-input govuk-input--width-20" id="postcode" name="postcode" type="text" value={{ value | trim_end(",") }}>
          </div>
        </fieldset>
      </div>

      <input type="hidden" name="postcode-page">
      <input type="hidden" name="property-details-inprogress" value="true">
      <input class="govuk-button" type="submit" value="Save and continue" />

    </form>
  </div>
</div>

{% endblock %}
