{% extends "layout.html" %} {% block pageTitle %} Confirmation {% endblock %} {%
block beforeContent %}
{% endblock %} {% block content %}
<div class="govuk-width-container">
  <main class="govuk-main-wrapper govuk-main-wrapper--l" id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <div class="govuk-panel govuk-panel--confirmation">
          <h1 class="govuk-panel__title">
            Form submitted
          </h1>
          <div class="govuk-panel__body">
            Your data has been accepted
          </div>
        </div>

        <p class="govuk-body govuk-!-margin-top-7">We have sent you a confirmation email.</p>


  <div style="background-color:lightsalmon;">
    <p>===</p>
    Tenancy Code: {{ data['tenancy-code'] }}
    <p>===</p>
    Radio: {{ data['changed-name']}}
  </div>
<form class="form" action="/sprint6/step3" method="POST">

  <button class="govuk-button" data-module="govuk-button">
    Take me back
    <svg
      class="govuk-button__start-icon"
      xmlns="http://www.w3.org/2000/svg"
      width="17.5"
      height="19"
      viewBox="0 0 33 40"
      aria-hidden="true"
      focusable="false"
    >
      <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
    </svg>
  </button>
  </form>
        <h2 class="govuk-heading-m">What happens next</h2>

        <p class="govuk-body">
          We’ve logged your data for the Ministry of Housing, Communities & Local Government.
        </p>
        <p class="govuk-body">
          They will contact you either to confirm any information, or to ask for more information.
        </p>

        <p class="govuk-body">
          <a href="#" class="govuk-link">What did you think of this service?</a> (takes 30 seconds)
        </p>
      </div>
    </div>
  </main>
</div>

{% endblock %}
