{%
    set form_titles = {
        "step1": {
            "name": "Form Selection",
            "questions": {
                "completion-year": "Which year is this log for?",
                "form-name": "Which form are you completing?",
                "gdpr": "GDPR"
            }
        },
        "step2": {
            "name": "Tenancy Details",
            "questions": {
                "provider": "Type of provider",
                "ll-status": "Status",
                "rp-name": "RP (HA/LA)Name",
                "core-code": "CORE code"
            }
        }
    }
%}