{%
    set form_titles = {
        "step1": {
            "name": "Form Selection",
            "questions": {
                "completion-year": "Which year is this log for?",
                "form-name": "Which form are you completing?",
                "gdpr": "GDPR"
            }
        },
        "step2": {
            "name": "Tenancy Details",
            "questions": {
                "provider": "Type of provider",
                "ll-status": "Status",
                "rp-name": "RP (HA/LA)Name",
                "core-code": "CORE code"
            }
        },
        "step3": {
            "name": "Household Details",
            "questions": {
                "starter-tenancy": "Is this a starter/introductory tenancy?",
                "tenancy-type": "Type of main tenancy (after any starter/introductory period)",
                "tenancy-type-other": "Please state tenancy type",
                "tenancy-code": "Tenant code",
                "length-fixed-term": "If the main tenancy is a fixed term tenancy, please provide the length of the fixed term (to the nearest year) excluding any starter/introductory period"
            }
        }
    }
%}