{% import "./mhclg.html" as mhclg %}
{% extends "layout.html" %} {% block pageTitle %} Log Creation | Step 0 {%
endblock %} {% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }} {% endblock %} {% block beforeContent %}
<script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
<script src="https://unpkg.com/dayjs@1.8.21/plugin/customParseFormat.js"></script>

{{ mhclg.breadcrumbs(0, data) }}

{% endblock %} {% block content %}
{{ mhclg.page_title(0)}}
<div class="govuk-form-group">
<form class="form" action= "/sprint6/step1" method="POST" novalidate data-validate='my-form-validation'>
  {{ mhclg.record_step(0, data)}}
  <fieldset
    class="govuk-fieldset"
    role="group"
    aria-describedby="passport-issued-hint"
  >
    {{ mhclg.radio("step0", data, 'organisation') }}
  </fieldset>
</div>

<script type="application/json" id="my-form-validation">
  {
    "organisation": {
      "presence": {
        "value": true
      }
    }
  }
</script>

{{ mhclg.submit() }}

</form>
{% endblock %}
