{% 
  set reason_for_vacancy = {
      "arrears": "Relet - tenant evicted due to arrears",
      "asb": "Relet - tenant evicted due to ASB or other reason",
      "died": "Relet - tenant died (no succession) ",
      "moved-to-social": "Relet - tenant moved to other social housing provider",
      "abandoned": "Relet - tenant abandoned property",
      "moved-to-private": "Relet - tenant moved to private sector or other accommodation",
      "from-temoprary": "Relet - to tenant who occupied same property as temporary accommodation",
      "internal-transfer": "Relet – internal transfer (excluding renewals of a fixed-term tenancy)",
      "renewal": "Relet – renewal of fixed-term tenancy",
      "first-let-new-build": "First let of newbuild property",
      "first-let-conversion": "First let of conversion/rehabilitation/acquired property",
      "first-let-leased": "First let of leased property"
  }
%}

{%
  set unit_type = {
      "flat": "Flat / maisonette",
      "bedsit": "Bed-sit",
      "house": "House",
      "bungalow": "Bungalow",
      "maisonette": "Shared flat / maisonette",
      "shared-house": "Shared house",
      "shared-bungalow": "Shared bungalow",
      "other": "Other"
  }
%}

{%
  set building_type = {
    "purpose-built": "Purpose built",
    "converted": "Converted from previous residential or non-residential property"
  }
%}

{%
  set yes_no = {
    "yes": "Yes",
    "no": "No"
  }
%}

{%
  set yes_no_dk = {
    "yes": "Yes",
    "no": "No",
    "dont-know": "Don't know"
  }
%}

{%
  set relet = {
    "social-rent": "A social rent basis",
    "affordable": "An affordable rent basis",
    "rent-to-buy": "A rent to buy basis",
    "unknown": "Don't know"
  }
%}

{%
  set reasonable_preference = {
    'homeless': 'Homeless or about to lose their home (within 56 days)',
    'insanitary': 'Living in insanitary or overcrowded or unsatisfactory housing',
    'medical': 'A need to move on medical and welfare grounds (including a reasonable-preference-reasons)',
    'hardship': 'A need to move to avoid hardship to themselves or others',
    'unknown': "Don't know"
  }

%}


{% macro option(label, answers, data, group) %}
  <label class="govuk-label govuk-label--m" for="{{ group }}">{{ label }}</label>
  <div class="govuk-form-group">
    <select class="govuk-select" id="{{ group }}" name="{{ group }}" onchange="check()">
      {% for value, name in answers %}
      <option value="{{ value }}" {{ 'selected' if data[group] == value }}>{{ name }}</option>
      {% endfor %}
    </select>
  </div>
{% endmacro %}

{% macro radio(label, answers, data, group, onchange) %}
  <label class="govuk-label govuk-label--m" for="{{ group }}">{{ label }}</label>
  <div class="govuk-radios govuk-radios--inline">
      {% for value, name in answers %}
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="{{ group }}-{{ value }}" name="{{ group }}" type="radio"
        onchange="{{ onchange }}" value="{{ value }}" {{ 'checked' if data[group] == value }} />
      <label class="govuk-label govuk-radios__label" for="{{ group }}-{{ value }}">
        {{ name }}
      </label>
    </div>
      {% endfor %}
  </div>
{% endmacro %}

{% macro checkboxes(label, hint, answers, data, group) %}
      <div class="govuk-form-group" id="{{ group }}-section">
        <label class="govuk-label govuk-label--s">{{ label }}</label>
        <div id="{{ group }}-hint" class="govuk-hint">{{ hint }}</div>
        <div class="govuk-checkboxes">
          {% for value, name in answers %}
          <div class="govuk-checkboxes__item">
            <input class="govuk-checkboxes__input" id="{{ group }}-{{value}}"
              name="{{ group }}" type="checkbox" 
              {{ 'checked' if data[group] and value in data[group] else '' }} 
              value="{{ value }}">
            <label class="govuk-label govuk-checkboxes__label" for="{{ group }}-{{value}}">{{ name }}</label>
          </div>
          {% endfor %}
        </div>
      </div>
{% endmacro %}