{% import "./mhclg.html" as mhclg %}
{% extends "layout.html" %} {% block pageTitle %} Start page example {% endblock
%} {% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }} {% endblock %} {% block beforeContent %}
<script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
<script src="https://unpkg.com/dayjs@1.8.21/plugin/customParseFormat.js"></script>

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="index">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/sprint6">Sprint 6</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/sprint6/step1">Step 1</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/sprint6/step2">Step 2</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/sprint6/step3">Step 3</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/sprint6/step4">Step 4</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" >Step 5</a>
    </li>
  </ol>
</div>
{% endblock %} {% block content %}
<h1 class="govuk-heading-l">Tenant details</h1>
<form class="form" action="/sprint6/step6" method="POST">

  {# armed forces input #}

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      {{ mhclg.radio("step5", data, 'armed-forces', 'checkRegular()') }}
    </fieldset>
  </div>

  <div class="govuk-form-group" id="regular-service-group">
    <fieldset class="govuk-fieldset">
      {{ mhclg.radio("step5", data, 'regular-service') }}
    </fieldset>
  </div>

  {# armed forces conditional render check and style#}
  <script>
    function checkRegular() {
      var val = document.getElementById("armed-forces-regular").checked;
      if (val) {
        document.getElementById("regular-service-group").style.display = "block";
        document.getElementById("regular-service-group").style.opacity = 1;
      } else {
        document.getElementById("regular-service-group").style.display = "none";
        document.getElementById("regular-service-group").style.opacity = 0;
      }
    }
    checkRegular();
  </script>

  <style>
    #regular-service-group {
      display: none;
      opacity: 0;
      transition: opacity 2s;
    }
  </style>

  {# health input #}

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      {{ mhclg.radio("step5", data, 'injury-illness') }}
    </fieldset>
  </div>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      {{ mhclg.radio("step5", data, 'pregnancy') }}
    </fieldset>
  </div>

  {# benefits Input #}

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      {{ mhclg.radio("step5", data, 'benefits') }}
    </fieldset>
  </div>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      {{ mhclg.radio("step5", data, 'benefit-proportion') }}
    </fieldset>
  </div>

  <div class="govuk-form-group">
    <label class="govuk-label govuk-label--m" for="income">
        Tenant’s or tenant and partner’s net income (after tax deductions) For those receiving Universal Credit, please enter net income from employment, pensions and Universal Credit. Please exclude child benefit, housing element of universal credit and council tax support. For those not receiving Universal Credit, please enter net income from employment, pensions and other benefits. Please exclude housing benefit, child benefit and council tax support.
      </label>
    <span class="govuk-caption-m">Round to nearest £</span>
    <input class="govuk-input" id="income" name="income" type="text" min="1" step="any">
  </div>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      {{ mhclg.radio("step5", data, 'regularity') }}
    </fieldset>
  </div>

  <div class="govuk-form-group">
      {{ mhclg.option("step5", data, 'reason-for-leaving-previous', 'checkReasonForLeaving()') }}
  </div>

  <div class="govuk-form-group" id="reason-for-leaving">
      <label class="govuk-label govuk-label--m" for="other-reason-for-leaving-previous">
        please state the reason for leaving last settled home
      </label>
    <input class="govuk-input" id="other-reason-for-leaving-previous" name="other-reason-for-leaving-previous" type="text" value="{{ data['other-reason-for-leaving-previous'] }}">
  </div>

  <script>
    function checkReasonForLeaving() {
      var val = document.getElementById("reason-for-leaving-previous").value;
      if (val == "Other") {
        document.getElementById("reason-for-leaving").style.display = "block";
        document.getElementById("reason-for-leaving").style.opacity = 1;
      } else {
        document.getElementById("reason-for-leaving").style.display = "none";
        document.getElementById("reason-for-leaving").style.opacity = 0;
      }
    }
    checkReasonForLeaving();
  </script>

  <style>
    #reason-for-leaving {
      display: none;
      opacity: 0;
      transition: opacity 2s;
    }
  </style>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      {{ mhclg.radio("step5", data, 'subsidy-cap') }}
    </fieldset>
  </div>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="disability-hint">
      {{ mhclg.checkboxes('step5', 'Select all that apply.', data, 'disability') }}
    </fieldset>
  </div>

  <div class="govuk-form-group">
    {{ mhclg.option("step5", data, 'previous-situation') }}
  </div>

  <button class="govuk-button" data-module="govuk-button">
    Continue
    <svg
      class="govuk-button__start-icon"
      xmlns="http://www.w3.org/2000/svg"
      width="17.5"
      height="19"
      viewBox="0 0 33 40"
      aria-hidden="true"
      focusable="false"
    >
      <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
    </svg>
  </button>
</form>

{% endblock %}
