{% import "./mhclg.html" as mhclg %}
{% extends "layout.html" %} {% block pageTitle %} Start page example {% endblock
%} {% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }} {% endblock %} {% block beforeContent %}
<script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
<script src="https://unpkg.com/dayjs@1.8.21/plugin/customParseFormat.js"></script>

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="index">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/sprint6">Sprint 6</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/sprint6/step1">Step 1</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/sprint6/step2">Step 2</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/sprint6/step3">Step 3</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" >Step 4</a>
    </li>
  </ol>
</div>
{% endblock %} {% block content %}
<h1 class="govuk-heading-l">Tenant details</h1>
<form class="form" action="/sprint6/step5" method="POST">
<fieldset
  class="govuk-fieldset"
  role="group"
  aria-describedby="Tenant age and gender"
>

  {# age input #}
  <div class="govuk-date-input__item">
    <div class="govuk-form-group">
      <h2 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--m" for="tenancy-age">
          Age
        </label>
      </h2>
      <input class="govuk-input" name="tenancy-age" type="number" value="{{ data['tenancy-age'] }}"/>
    </div>
  </div>

  {# gender input #}

  <div class="govuk-date-input__item">
    {{ mhclg.option("Gender", mhclg.gender, data, 'tenant-gender') }}
  </div>

  {# economic status input #}

  <fieldset
    class="govuk-fieldset"
    role="group"
    aria-describedby="Tenant economic status"
  >
    <div class="govuk-date-input__item">
      {{ mhclg.option("Tenant economic status", mhclg.economic_status, data, 'tenant-economic-status') }}
    </div>
  </fieldset>


  {# Ethnicity input #}

  <fieldset
    class="govuk-fieldset"
    role="group"
    aria-describedby="Ethnicity options"
  >
    <div class="govuk-date-input__item">
      {{ mhclg.option("Ethnicity options", mhclg.ethnicity, data, 'ethnicity-options') }}
    </div>
  </fieldset>

  {# Nationality input #}

  <fieldset
    class="govuk-fieldset"
    role="group"
    aria-describedby="Nationality options"
  >
    <div class="govuk-date-input__item">
      {{ mhclg.option("Nationality options", mhclg.nationality, data, 'nationality-options') }}
    </div>
  </fieldset>

  <div class="govuk-date-input__item">
    <div class="govuk-form-group">
      <h2 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--m" for="number-in-household">
          How many other people in the household?
        </label>
      </h2>
      <span class="govuk-caption-m">Maximum 7</span>
      <input class="govuk-input" name="number-in-household" id="number-in-household" type="number" value="{{ data['number-in-household'] }}"
        pattern="[0-7]*" inputmode="numeric" onkeyup="check()"
      />
    </div>
  </div>
  </fieldset>

  {# Person 1 #}
  <div id="person-1">
  <hr class="govuk-!-margin-bottom-6" />
    {# age input #}
    <div class="govuk-date-input__item">
      <div class="govuk-form-group">
        <h2 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="tenancy-age-person-1">
            Person 1 Age
          </label>
        </h2>
        <input class="govuk-input" name="tenancy-age" type="number" value="{{ data['tenancy-age-person-1'] }}"/>
      </div>
    </div>

    {# gender input #}
    <div class="govuk-date-input__item">
      {{ mhclg.option("Person 1 Gender", mhclg.gender, data, 'tenant-gender-person-1') }}
    </div>

    {# economic status input #}
    <fieldset
      class="govuk-fieldset"
      role="group"
      aria-describedby="Tenant economic status"
    >
      <div class="govuk-date-input__item">
        {{ mhclg.option("Person 1 Tenant economic status", mhclg.economic_status, data, 'tenant-economic-status-person-1') }}
      </div>
    </fieldset>

    {# relationship input #}
    <div class="govuk-date-input__item">
      <div class="govuk-form-group">
        <h2 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="tenancy-relation-person-1">
            Relationship to tenant
          </label>
        </h2>
        <input class="govuk-input" name="tenancy-relation" type="number" value="{{ data['tenancy-relation-person-1'] }}"/>
      </div>
    </div>
  </div>

  {# Person 1 end #}

  {# Person 2 #}
  <div id="person-2">
  <hr class="govuk-!-margin-bottom-6" />
    {# age input #}
    <div class="govuk-date-input__item">
      <div class="govuk-form-group">
        <h2 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="tenancy-age-person-2">
            Person 2 Age
          </label>
        </h2>
        <input class="govuk-input" name="tenancy-age" type="number" value="{{ data['tenancy-age-person-2'] }}"/>
      </div>
    </div>

    {# gender input #}
    <div class="govuk-date-input__item">
      {{ mhclg.option("Person 2 Gender", mhclg.gender, data, 'tenant-gender-person-2') }}
    </div>

    {# economic status input #}
    <fieldset
      class="govuk-fieldset"
      role="group"
      aria-describedby="Tenant economic status"
    >
      <div class="govuk-date-input__item">
        {{ mhclg.option("Person 2 Tenant economic status", mhclg.economic_status, data, 'tenant-economic-status-person-2') }}
      </div>
    </fieldset>

    {# relationship input #}
    <div class="govuk-date-input__item">
      <div class="govuk-form-group">
        <h2 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="tenancy-relation-person-2">
            Relationship to tenant
          </label>
        </h2>
        <input class="govuk-input" name="tenancy-relation" type="number" value="{{ data['tenancy-relation-person-2'] }}"/>
      </div>
    </div>
  </div>

  {# Person 2 end #}

  {# Person 3 #}
  <div id="person-3">
  <hr class="govuk-!-margin-bottom-6" />
    {# age input #}
    <div class="govuk-date-input__item">
      <div class="govuk-form-group">
        <h2 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="tenancy-age-person-3">
            Person 3 Age
          </label>
        </h2>
        <input class="govuk-input" name="tenancy-age" type="number" value="{{ data['tenancy-age-person-3'] }}"/>
      </div>
    </div>

    {# gender input #}
    <div class="govuk-date-input__item">
      {{ mhclg.option("Person 3 Gender", mhclg.gender, data, 'tenant-gender-person-3') }}
    </div>

    {# economic status input #}
    <fieldset
      class="govuk-fieldset"
      role="group"
      aria-describedby="Tenant economic status"
    >
      <div class="govuk-date-input__item">
        {{ mhclg.option("Person 3 Tenant economic status", mhclg.economic_status, data, 'tenant-economic-status-person-3') }}
      </div>
    </fieldset>

    {# relationship input #}
    <div class="govuk-date-input__item">
      <div class="govuk-form-group">
        <h2 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="tenancy-relation-person-3">
            Relationship to tenant
          </label>
        </h2>
        <input class="govuk-input" name="tenancy-relation" type="number" value="{{ data['tenancy-relation-person-3'] }}"/>
      </div>
    </div>
  </div>

  {# Person 3 end #}

  {# Person 4 #}
  <div id="person-4">
  <hr class="govuk-!-margin-bottom-6" />
    {# age input #}
    <div class="govuk-date-input__item">
      <div class="govuk-form-group">
        <h2 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="tenancy-age-person-4">
            Person 4 Age
          </label>
        </h2>
        <input class="govuk-input" name="tenancy-age" type="number" value="{{ data['tenancy-age-person-4'] }}"/>
      </div>
    </div>

    {# gender input #}
    <div class="govuk-date-input__item">
      {{ mhclg.option("Person 4 Gender", mhclg.gender, data, 'tenant-gender-person-4') }}
    </div>

    {# economic status input #}
    <fieldset
      class="govuk-fieldset"
      role="group"
      aria-describedby="Tenant economic status"
    >
      <div class="govuk-date-input__item">
        {{ mhclg.option("Person 4 Tenant economic status", mhclg.economic_status, data, 'tenant-economic-status-person-4') }}
      </div>
    </fieldset>

    {# relationship input #}
    <div class="govuk-date-input__item">
      <div class="govuk-form-group">
        <h2 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="tenancy-relation-person-4">
            Relationship to tenant
          </label>
        </h2>
        <input class="govuk-input" name="tenancy-relation" type="number" value="{{ data['tenancy-relation-person-4'] }}"/>
      </div>
    </div>
  </div>

  {# Person 4 end #}

  {# Person 5 #}
  <div id="person-5">
  <hr class="govuk-!-margin-bottom-6" />
    {# age input #}
    <div class="govuk-date-input__item">
      <div class="govuk-form-group">
        <h2 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="tenancy-age-person-5">
            Person 5 Age
          </label>
        </h2>
        <input class="govuk-input" name="tenancy-age" type="number" value="{{ data['tenancy-age-person-5'] }}"/>
      </div>
    </div>

    {# gender input #}
    <div class="govuk-date-input__item">
      {{ mhclg.option("Person 5 Gender", mhclg.gender, data, 'tenant-gender-person-5') }}
    </div>

    {# economic status input #}
    <fieldset
      class="govuk-fieldset"
      role="group"
      aria-describedby="Tenant economic status"
    >
      <div class="govuk-date-input__item">
        {{ mhclg.option("Person 5 Tenant economic status", mhclg.economic_status, data, 'tenant-economic-status-person-5') }}
      </div>
    </fieldset>

    {# relationship input #}
    <div class="govuk-date-input__item">
      <div class="govuk-form-group">
        <h2 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="tenancy-relation-person-5">
            Relationship to tenant
          </label>
        </h2>
        <input class="govuk-input" name="tenancy-relation" type="number" value="{{ data['tenancy-relation-person-5'] }}"/>
      </div>
    </div>
  </div>

  {# Person 5 end #}

  {# Person 6 #}
  <div id="person-6">
  <hr class="govuk-!-margin-bottom-6" />
    {# age input #}
    <div class="govuk-date-input__item">
      <div class="govuk-form-group">
        <h2 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="tenancy-age-person-6">
            Person 6 Age
          </label>
        </h2>
        <input class="govuk-input" name="tenancy-age" type="number" value="{{ data['tenancy-age-person-6'] }}"/>
      </div>
    </div>

    {# gender input #}
    <div class="govuk-date-input__item">
      {{ mhclg.option("Person 6 Gender", mhclg.gender, data, 'tenant-gender-person-6') }}
    </div>

    {# economic status input #}
    <fieldset
      class="govuk-fieldset"
      role="group"
      aria-describedby="Tenant economic status"
    >
      <div class="govuk-date-input__item">
        {{ mhclg.option("Person 6 Tenant economic status", mhclg.economic_status, data, 'tenant-economic-status-person-6') }}
      </div>
    </fieldset>

    {# relationship input #}
    <div class="govuk-date-input__item">
      <div class="govuk-form-group">
        <h2 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="tenancy-relation-person-6">
            Relationship to tenant
          </label>
        </h2>
        <input class="govuk-input" name="tenancy-relation" type="number" value="{{ data['tenancy-relation-person-6'] }}"/>
      </div>
    </div>
  </div>

  {# Person 6 end #}

  {# Person 7 #}
  <div id="person-7">
  <hr class="govuk-!-margin-bottom-6" />
    {# age input #}
    <div class="govuk-date-input__item">
      <div class="govuk-form-group">
        <h2 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="tenancy-age-person-7">
            Person 7 Age
          </label>
        </h2>
        <input class="govuk-input" name="tenancy-age" type="number" value="{{ data['tenancy-age-person-7'] }}"/>
      </div>
    </div>

    {# gender input #}
    <div class="govuk-date-input__item">
      {{ mhclg.option("Person 7 Gender", mhclg.gender, data, 'tenant-gender-person-7') }}
    </div>

    {# economic status input #}
    <fieldset
      class="govuk-fieldset"
      role="group"
      aria-describedby="Tenant economic status"
    >
      <div class="govuk-date-input__item">
        {{ mhclg.option("Person 7 Tenant economic status", mhclg.economic_status, data, 'tenant-economic-status-person-7') }}
      </div>
    </fieldset>

    {# relationship input #}
    <div class="govuk-date-input__item">
      <div class="govuk-form-group">
        <h2 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--m" for="tenancy-relation-person-7">
            Relationship to tenant
          </label>
        </h2>
        <input class="govuk-input" name="tenancy-relation" type="number" value="{{ data['tenancy-relation-person-8'] }}"/>
      </div>
    </div>
  </div>

  {# Person 7 end #}

  <script>
    const reset = () => {
      for(var i = 1; i<=7; i++ ) {
        let test = `person-${i.toString()}`;
        document.getElementById(test).style.display = "none";
      }
    }

    function check() {
      reset();
      var val = document.getElementById("number-in-household").value > 7 ? 7 : document.getElementById("number-in-household").value;

      console.log(val);
      for(var i = 1; i<=val; i++ ) {
        let test = `person-${i.toString()}`;
        document.getElementById(test).style.display = "block";
      }
    }
  </script>

  <style>
  #person-1 {
    display: none;
  }
  #person-2{
    display: none;
  }
  #person-3{
    display: none;
  }
  #person-4{
    display: none;
  }
  #person-5{
    display: none;
  }
  #person-6{
    display: none;
  }
  #person-7{
    display: none;
  }
  </style>

  <button class="govuk-button" data-module="govuk-button">
    Continue
    <svg
      class="govuk-button__start-icon"
      xmlns="http://www.w3.org/2000/svg"
      width="17.5"
      height="19"
      viewBox="0 0 33 40"
      aria-hidden="true"
      focusable="false"
    >
      <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
    </svg>
  </button>
</form>

{% endblock %}
