{% import "./mhclg.html" as mhclg %}
{% extends "layout.html" %} {% block pageTitle %} Log Creation | Step 1 {%
endblock %} {% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }} {% endblock %} {% block beforeContent %}
<script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
<script src="https://unpkg.com/dayjs@1.8.21/plugin/customParseFormat.js"></script>

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="index">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/sprint6">Sprint 6</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/sprint6/step1">Step 1</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link">Step 2</a>
    </li>
  </ol>
</div>
{% endblock %} {% block content %}
<h1 class="govuk-heading-l">Provider Details</h1>
<div class="govuk-form-group">
  {# Tenancy start date input #}

  <form class="form" action="/sprint6/step3" method="POST">
    <fieldset class="govuk-fieldset" role="group" aria-describedby="tenancy-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h2 class="govuk-fieldset__heading">Tenancy start date</h2>
      </legend>
      <div id="tenancy-hint" class="govuk-hint">
        For example, 01 01 2021
      </div>
      <div class="govuk-date-input" id="tenancy">
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="tenancy-day">
              Day
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="tenancy-day" name="tenancy-day"
              type="number" pattern="[0-9]*" inputmode="numeric" value="{{ data['tenancy-day'] }}" />
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="tenancy-month">
              Month
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="tenancy-month"
              name="tenancy-month" type="number" pattern="[0-9]*" inputmode="numeric"
              value="{{ data['tenancy-month'] }}" />
          </div>
        </div>
        <div class="govuk-date-input__item">
          <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="tenancy-year">
              Year
            </label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-4" id="tenancy-year"
              name="tenancy-year" type="number" pattern="[0-9]*" inputmode="numeric"
              value="{{ data['tenancy-year'] }}" />
          </div>
        </div>
      </div>
    </fieldset>

    {# Provider and landlord #}
    <fieldset class="govuk-fieldset govuk-!-margin-top-6" role="group" aria-describedby="tenancy-hint">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h2 class="govuk-fieldset__heading">Provider</h2>
      </legend>
      {{ mhclg.radio("step2", data, 'provider') }}
      {{ mhclg.radio("step2", data, 'll-status', "check()") }}

      <div id="rp-name">
        <div class="govuk-grid-row govuk-!-margin-bottom-6">
          <div class="govuk-grid-column-one-half">
            <h1 class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--l" for="rp-name">
                RP (HA/LA)Name
              </label>
            </h1>
            <input class="govuk-input" name="rp-name" type="text" value="{{ data['rp-name'] }}" />
          </div>
        </div>

        <div class="govuk-grid-row">
          <div class="govuk-grid-column-one-half">
            <div id="core-code">
              <h1 class="govuk-label-wrapper">
                <label class="govuk-label govuk-label--l" for="core-code">
                  CORE code
                </label>
              </h1>
              <input class="govuk-input" name="core-code" type="text" value="{{ data['core-code'] }}" />
            </div>
          </div>
        </div>
      </div>
    </fieldset>
</div>

{# conditional render check and style#}
<script>
  function check() {
    if (document.getElementById("ll-status-another").checked) {
      document.getElementById("rp-name").style.display = "block";
      document.getElementById("rp-name").style.opacity = 1;
    } else {
      document.getElementById("rp-name").style.display = "none";
      document.getElementById("rp-name").style.opacity = 0;
    }
  }
  check();
</script>

<style>
  #rp-name {
    display: none;
    opacity: 0;
    transition: opacity 2s;
  }
</style>

<button class="govuk-button" data-module="govuk-button">
  Continue
  <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19" viewBox="0 0 33 40"
    aria-hidden="true" focusable="false">
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
  </svg>
</button>
</form>
{% endblock %}