{% import "./mhclg.html" as mhclg %}
{% extends "layout.html" %} {% block pageTitle %} Start page example {% endblock
%} {% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }} {% endblock %} {% block beforeContent %}
<script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
<script src="https://unpkg.com/dayjs@1.8.21/plugin/customParseFormat.js"></script>

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="index">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/sprint6">Sprint 6</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/sprint6/step1">Step 1</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/sprint6/step2">Step 2</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/sprint6/step3">Step 3</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/sprint6/step4">Step 4</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/sprint6/step5">Step 5</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link">Step 6</a>
    </li>
  </ol>
</div>
{% endblock %} {% block content %}
<h1 class="govuk-heading-l">Tenant details</h1>
<form class="form" action="/sprint6/step7" method="POST">
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      {{ mhclg.option("step6", data, 'time-in-la') }}

      {{ mhclg.option("step6", data, 'time-waiting') }}

      {{ mhclg.radio("step6", data, 'prior-status') }}

      {{ mhclg.radio("step6", data, 'reasonable-preference', 'check()') }}

      {{ mhclg.checkboxes("step6", "Select all that apply.", data, 'reasonable-preference-reasons') }}

      <label class="govuk-label govuk-label--m" for="unit-type">
        Was the letting made under any of the following allocations systems? Select Yes or No for each allocation
        system.
      </label>
      {{ mhclg.radio("step6", data, 'allocations-cbl', "", true) }}
      {{ mhclg.radio("step6", data, 'allocations-chr', "", true) }}
      {{ mhclg.radio("step6", data, 'allocations-cap', "", true) }}

      {{ mhclg.option("step6", data, 'referral-by') }}
    </fieldset>
  </div>

  <script>
    function check() {
      var val = document.getElementById("reasonable-preference-yes").checked;
      if (val) {
        document.getElementById("reasonable-preference-reasons-section").style.display = "block";
        document.getElementById("reasonable-preference-reasons-section").style.opacity = 1;
      } else {
        document.getElementById("reasonable-preference-reasons-section").style.display = "none";
        document.getElementById("reasonable-preference-reasons-section").style.opacity = 0;
      }
    }
    check();
  </script>

  <button class="govuk-button" data-module="govuk-button">
    Continue
    <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19"
      viewBox="0 0 33 40" aria-hidden="true" focusable="false">
      <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
    </svg>
  </button>
</form>

{% endblock %}