{% import "./mhclg.html" as mhclg %}
{% extends "layout.html" %} {% block pageTitle %} Start page example {% endblock
%} {% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }} {% endblock %} {% block beforeContent %}
<script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
<script src="https://unpkg.com/dayjs@1.8.21/plugin/customParseFormat.js"></script>

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="index">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/sprint6">Sprint 6</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/sprint6/step1">Step 1</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/sprint6/step2">Step 2</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link">Step 3</a>
    </li>
  </ol>
</div>
{% endblock %} {% block content %}
<h1 class="govuk-heading-l">Tenancy details</h1>
<form class="form" action="/sprint6/step4" method="POST">
<fieldset
  class="govuk-fieldset"
  role="group"
  aria-describedby="Tenancy Details"
>
  {{ mhclg.radio("Is this a starter/introductory tenancy?", mhclg.yes_no, data, 'starter-tenancy') }}

  {{ mhclg.option("step3", data, 'tenancy-type', "check()") }}

  <div class="govuk-grid-row" id="tenancy-type-other">
    <div class="govuk-grid-column-one-half">
      <div>
        <h2 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="tenancy-type-other">
            Please state tenancy type
          </label>
        </h2>
        <input class="govuk-input" name="tenancy-type-other" type="text" value="{{ data['tenancy-type-other'] }}" />
      </div>
    </div>
  </div>
  <h2 class="govuk-label-wrapper">
        <label class="govuk-label govuk-label--l" for="tenancy-code">
          Tenant code
        </label>
      </h2>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <input class="govuk-input" name="tenancy-code" type="text" value="{{ data['tenancy-code'] }}"/>
    </div>
  </div>

  <h2 class="govuk-label-wrapper govuk-!-margin-top-6">
        <label class="govuk-label govuk-label--l" for="length-fixed-term">
          If the main tenancy is a fixed term tenancy, please provide the length
          of the fixed term (to the nearest year) excluding any
          starter/introductory period
        </label>
      </h2>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <input class="govuk-input" name="length-fixed-term" type="text" value="{{ data['length-fixed-term'] }}"/>
    </div>
  </div>

  <button class="govuk-button" data-module="govuk-button">
    Continue
    <svg
      class="govuk-button__start-icon"
      xmlns="http://www.w3.org/2000/svg"
      width="17.5"
      height="19"
      viewBox="0 0 33 40"
      aria-hidden="true"
      focusable="false"
    >
      <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
    </svg>
  </button>
</fieldset>
</form>
{# conditional render check and style#}
<script>
  function check() {
    var val = document.getElementById("tenancy-type").value;
    if (val == "other") {
      document.getElementById("tenancy-type-other").style.display = "block";
      document.getElementById("tenancy-type-other").style.opacity = 1;
    } else {
      document.getElementById("tenancy-type-other").style.display = "none";
      document.getElementById("tenancy-type-other").style.opacity = 0;
    }
  }
  check();
</script>

<style>
  #rp-name {
    display: none;
    opacity: 0;
    transition: opacity 2s;
  }
</style>

{% endblock %}
