{% extends "layout.html" %} {% block pageTitle %} Start page example {% endblock
%} {% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }} {% endblock %} {% block beforeContent %}
<script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
<script src="https://unpkg.com/dayjs@1.8.21/plugin/customParseFormat.js"></script>

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="index">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/sprint6">Sprint 6</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/sprint6/step1">Step 1</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/sprint6/step2">Step 2</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/sprint6/step3">Step 3</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/sprint6/step4">Step 4</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/sprint6/step5">Step 5</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/sprint6/step6">Step 6</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/sprint6/step7">Step 7</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link">Step 8</a>
    </li>
  </ol>
</div>
{% endblock %} {% block content %}
<h1 class="govuk-heading-l">Property details</h1>
<form class="form" action="/sprint6/summary" method="POST">
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          Number of bedrooms (if shared accommodation, enter number of bedrooms occupied by this household; a bed-sit
          has 1 bedroom)
        </h1>
      </legend>
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-half">
          <input class="govuk-input govuk-date-input__input govuk-input--width-2" id="bedrooms" name="bedrooms"
            type="number" pattern="[0-9]*" inputmode="numeric" value="{{ data['bedrooms'] }}" onkeyup="check()" />
        </div>
      </div>
      <div class="govuk-checkboxes" id="bedrooms-override-section">
        <div class="govuk-checkboxes__item">
          <p></p>
          <input class="govuk-checkboxes__input" id="bedrooms-override" name="bedrooms-override" type="checkbox"
            {{ 'checked' if data['bedrooms-override'] and data['bedrooms-override']=='override' }} value="override">
          <label class="govuk-label govuk-checkboxes__label" for="bedrooms-override">
            Override
          </label>
        </div>
      </div>
    </fieldset>
  </div>

  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h1 class="govuk-fieldset__heading">
      Type of unit
    </h1>
  </legend>
  <div class="govuk-form-group">
    <select class="govuk-select" id="unit-type" name="unit-type" onchange="check()">
      <option value="flat" {{ 'selected' if data['unit-type']=='flat' }}>
        Flat / maisonette
      </option>
      <option value="bedsit" {{ 'selected' if data['unit-type']=='bedsit' }}>
        Bed-sit
      </option>
      <option value="house" {{ 'selected' if data['unit-type']=='house' }}>
        House
      </option>
      <option value="bungalow" {{ 'selected' if data['unit-type']=='bungalow' }}>
        Bungalow
      </option>
      <option value="maisonette" {{ 'selected' if data['unit-type']=='maisonette' }}>
        Shared flat / maisonette
      </option>
      <option value="shared-house" {{ 'selected' if data['unit-type']=='shared-house' }}>
        Shared house
      </option>
      <option value="shared-bungalow" {{ 'selected' if data['unit-type']=='shared-bungalow' }}>
        Shared bungalow
      </option>
      <option value="other" {{ 'selected' if data['unit-type']=='other' }}>
        Other
      </option>
    </select>
  </div>

  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h1 class="govuk-fieldset__heading">
      Type of building
    </h1>
  </legend>
  <div class="govuk-radios govuk-radios--inline">
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="building-type-purpose-built" name="building-type" type="radio"
        value="purpose-built" {{ 'checked' if data['building-type']=='purpose-built' }} />
      <label class="govuk-label govuk-radios__label" for="building-type-purpose-built">
        Purpose built
      </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="building-type-converted" name="building-type" type="radio"
        value="converted" {{ 'checked' if data['building-type']=='converted' }} />
      <label class="govuk-label govuk-radios__label" for="building-type-converted">
        Converted from previous residential or non-residential property
      </label>
    </div>
  </div>

  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h1 class="govuk-fieldset__heading">
      Is property built or adapted to be wheelchair accessible?
    </h1>
  </legend>
  <div class="govuk-radios govuk-radios--inline">
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="wheelchair-access-yes" name="wheelchair-access" type="radio" value="yes"
        {{ 'checked' if data['wheelchair-access']=='yes' }} />
      <label class="govuk-label govuk-radios__label" for="wheelchair-access-yes">
        Yes
      </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="wheelchair-access-no" name="wheelchair-access" type="radio" value="no"
        {{ 'checked' if data['wheelchair-access']=='no' }} />
      <label class="govuk-label govuk-radios__label" for="wheelchair-access-no">
        No
      </label>
    </div>
  </div>

  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h1 class="govuk-fieldset__heading">
      If this is a relet, was the property most recently let on..
    </h1>
  </legend>
  <div class="govuk-radios govuk-radios--inline">
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="relet-social-rent" name="relet" type="radio" value="social-rent"
        {{ 'checked' if data['relet']=='social-rent' }} />
      <label class="govuk-label govuk-radios__label" for="relet-social-rent">
        A social rent basis
      </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="relet-affordable" name="relet" type="radio" value="affordable"
        {{ 'checked' if data['relet']=='affordable' }} />
      <label class="govuk-label govuk-radios__label" for="relet-affordable">
        An affordable rent basis
      </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="relet-rent-to-buy" name="relet" type="radio" value="rent-to-buy"
        {{ 'checked' if data['relet']=='rent-to-buy' }} />
      <label class="govuk-label govuk-radios__label" for="relet-rent-to-buy">
        A rent to buy basis
      </label>
    </div>
    <div class="govuk-radios__item">
      <input class="govuk-radios__input" id="relet-unknown" name="relet" type="radio" value="unknown"
        {{ 'checked' if data['relet']=='unknown' }} />
      <label class="govuk-label govuk-radios__label" for="relet-unknown">
        Don't know
      </label>
    </div>
  </div>

  <script>
    function check() {
      var val = document.getElementById("bedrooms").value;
      console.log("VAL: " + val + "; ON: " + (val > 7))
      if (val > 7) {
        document.getElementById("bedrooms-override-section").style.display = "block";
        document.getElementById("bedrooms-override-section").style.opacity = 1;
      } else {
        document.getElementById("bedrooms-override-section").style.display = "none";
        document.getElementById("bedrooms-override-section").style.opacity = 0;
        document.getElementById("bedrooms-override").checked = false;
      }
    }
    check();
  </script>
  <button class="govuk-button" data-module="govuk-button">
    Continue
    <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19"
      viewBox="0 0 33 40" aria-hidden="true" focusable="false">
      <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
    </svg>
  </button>
</form>

{% endblock %}