{% extends "layout.html" %} {% block pageTitle %} Start page example {% endblock
%} {% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }} {% endblock %} {% block beforeContent %}
<script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
<script src="https://unpkg.com/dayjs@1.8.21/plugin/customParseFormat.js"></script>
<script src="https://unpkg.com/@flatfile/adapter/build/dist/index.min.js"></script>
<script src="/public/javascripts/previous_tenure.js"></script>
<script src="/public/javascripts/gender_validations.js"></script>
<script src="/public/javascripts/postcode_validations.js"></script>
<script src="/public/javascripts/homeless_validations.js"></script>
<script src="/public/javascripts/time_in_tenancy_validations.js"></script>
<script src="/public/javascripts/start_date_validations.js"></script>
<script src="/public/javascripts/flatfile.js"></script>

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="index">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/sprint6">Sprint 6</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/sprint6/step1">Step 1</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/sprint6/step2">Step 2</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link">Step 3</a>
    </li>
  </ol>
</div>
{% endblock %} {% block content %}
<fieldset
  class="govuk-fieldset govuk-!-margin-top-6"
  role="group"
  aria-describedby="passport-issued-hint"
>
  <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    <h2 class="govuk-fieldset__heading">
      Is this a starter/introductory tenancy?
    </h2>
  </legend>
  <div class="govuk-radios govuk-radios--inline">
    <div class="govuk-radios__item">
      <input
        class="govuk-radios__input"
        id="changed-name"
        name="changed-name"
        type="radio"
        value="yes"
      />
      <label class="govuk-label govuk-radios__label" for="changed-name">
        Yes
      </label>
    </div>
    <div class="govuk-radios__item">
      <input
        class="govuk-radios__input"
        id="changed-name-2"
        name="changed-name"
        type="radio"
        value="no"
      />
      <label class="govuk-label govuk-radios__label" for="changed-name-2">
        No
      </label>
    </div>
  </div>
  <legend
    class="
      govuk-fieldset__legend govuk-fieldset__legend--l
      govuk-!-margin-top-6
    "
  >
    <h2 class="govuk-fieldset__heading">
      Type of main tenancy (after any starter/introductory period)
    </h2>
  </legend>
  <div class="govuk-form-group">
    <label class="govuk-label" for="tenancy-type"> Form: </label>
    <select
      class="govuk-select"
      id="tenancy-type"
      name="tenancy-type"
      onchange="check()"
    >
      <option value="secure-including-flexible" selected>
        Secure including flexible
      </option>
      <option value="Assured">Assured</option>
      <option value="afssured-shorthold">Assured shorthold</option>
      <option value="license-agreement">License agreement</option>
      <option value="other">Other</option>
    </select>
  </div>
  <div class="govuk-grid-row" id="rp-name">
    <div class="govuk-grid-column-one-half">
      <div>
        <h2 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="rp-name">
            Please state tenancy type
          </label>
        </h2>
        <input class="govuk-input" name="rp-name" type="text" />
      </div>
    </div>
  </div>
  <h2 class="govuk-label-wrapper">
    <label class="govuk-label govuk-label--l" for="rp-name">
      Tenant code
    </label>
  </h2>
  <input class="govuk-input" name="rp-name" type="text" />
  <h2 class="govuk-label-wrapper govuk-!-margin-top-6">
    <label class="govuk-label govuk-label--l" for="rp-name">
      If the main tenancy is a fixed term tenancy, please provide the length of
      the fixed term (to the nearest year) excluding any starter/introductory
      period
    </label>
  </h2>
  <input class="govuk-input" name="rp-name" type="text" />
  
  </div>
</fieldset>

{# conditional render check and style#}
<script>
  function check() {
    var val = document.getElementById("tenancy-type").value;
    if (val == "other") {
      document.getElementById("rp-name").style.display = "block";
      document.getElementById("rp-name").style.opacity = 1;
    } else {
      document.getElementById("rp-name").style.display = "none";
      document.getElementById("rp-name").style.opacity = 0;
    }
  }
</script>

<style>
  #rp-name {
    display: none;
    opacity: 0;
    transition: opacity 2s;
  }
</style>

<a
  href="/sprint6/confirmation"
  role="button"
  draggable="false"
  class="
    govuk-button govuk-!-margin-top-2 govuk-!-margin-bottom-8
    govuk-button--start
  "
  data-module="govuk-button"
>
  Continue
  <svg
    class="govuk-button__start-icon"
    xmlns="http://www.w3.org/2000/svg"
    width="17.5"
    height="19"
    viewBox="0 0 33 40"
    aria-hidden="true"
    focusable="false"
  >
    <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
  </svg>
</a>
{% endblock %}
