{% extends "layout.html" %} {% block pageTitle %} Start page example {% endblock
%} {% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }} {% endblock %} {% block beforeContent %}
<script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
<script src="https://unpkg.com/dayjs@1.8.21/plugin/customParseFormat.js"></script>

<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="index">Home</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/sprint6">Sprint 6</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/sprint6/step1">Step 1</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/sprint6/step2">Step 2</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/sprint6/step3">Step 3</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/sprint6/step4">Step 4</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/sprint6/step5">Step 5</a>
    </li>
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link">Step 6</a>
    </li>
  </ol>
</div>
{% endblock %} {% block content %}
<h1 class="govuk-heading-l">Tenant details</h1>
<form class="form" action="/sprint6/step7" method="POST">

  {# armed forces input #}

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          How long has the household continuously lived in the local authority area where the new letting is located?
        </h1>
      </legend>
      <div class="govuk-form-group">
        <label class="govuk-label" for="time-in-la"> Form: </label>
        <select class="govuk-select" id="time-in-la" name="time-in-la" onchange="check()">
          <option value="0" {{ 'selected' if data['time-in-la']=='0'
            else '' }}>
            Just moved to Local Authority area
          </option>
          <option value="<1" {{ 'selected' if data['time-in-la']=='<1' else '' }}>
            Less than 1 year
          </option>
          <option value="<2" {{ 'selected' if data['time-in-la']=='<2' else '' }}>
            1 year but under 2 years 
          </option>
          <option value="<3" {{ 'selected' if data['time-in-la']=='<3' else '' }}>
            2 years but under 3 years 
          </option>
          <option value="<4" {{ 'selected' if data['time-in-la']=='<4' else '' }}>
            3 years but under 4 years 
          </option>
          <option value="<5" {{ 'selected' if data['time-in-la']=='<5' else '' }}>
            4 years but under 5 years
          </option>
          <option value=">5" {{ 'selected' if data['time-in-la']=='>5' else '' }}>
            5 years or more
          </option>
          <option value="?" {{ 'selected' if data['time-in-la']=='?' else '' }}>
            Don't Know
          </option>
        </select>
      </div>
    </fieldset>
  </div>

  <button class="govuk-button" data-module="govuk-button">
    Continue
    <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg" width="17.5" height="19"
      viewBox="0 0 33 40" aria-hidden="true" focusable="false">
      <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z" />
    </svg>
  </button>
</form>

{% endblock %}