{% import "./mhclg.html" as mhclg %}
{% extends "layout.html" %} {% block pageTitle %} Start page example {% endblock
%} {% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }} {% endblock %} {% block beforeContent %}
<script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
<script src="https://unpkg.com/dayjs@1.8.21/plugin/customParseFormat.js"></script>

{{ mhclg.breadcrumbs(8, data) }}

{% endblock %} {% block content %}

{{ mhclg.page_title(8)}}

<fieldset
  class="govuk-fieldset"
  role="group"
  aria-describedby="repairs-completion-date-hint"
>
<form class="form" action="/sprint6/step9" method="POST">
  {{ mhclg.record_step(8, data)}}

  {{ mhclg.textbox("step8", "Maximum 7", data, "bedrooms", "numeric", "check()") }}

  {{ mhclg.checkboxes("step8", "", data, "bedrooms-override") }}

  {{ mhclg.option("step8", data, 'unit-type') }}

  {{ mhclg.radio("step8", data, 'building-type') }}

  {{ mhclg.radio("step8", data, 'wheelchair-access') }}

  {{ mhclg.radio("step8", data, 'relet') }}

  {{ mhclg.option("step8", data, 'reason-for-vacancy') }}

  {{ mhclg.textbox("step8", "", data, "postal-code") }}

  {{ mhclg.textbox("step8", "", data, "ons-la-code")}}

  <script>
    function check() {
      var val = document.getElementById("bedrooms").value;
      if (val > 7) {
        document.getElementById("bedrooms-override").style.display = "block";
        document.getElementById("bedrooms-override").style.opacity = 1;
      } else {
        document.getElementById("bedrooms-override").style.display = "none";
        document.getElementById("bedrooms-override").style.opacity = 0;
        document.getElementById("bedrooms-override-override").checked = false;
      }
    }
    check();
  </script>

  <input class="govuk-input" name="summary" type="text" value="true" hidden />

  </fieldset>

  {{ mhclg.submit() }}
</form>

{% endblock %}