{% extends "layout.html" %} {% block pageTitle %} Summary {% endblock %} 
{% block header %} {{ govukHeader() }} {% endblock %} 
{% block beforeContent %}
<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="index">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/sprint6">Sprint 6</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/sprint6/step1">Step 1</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/sprint6/step2">Step 2</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/sprint6/step3">Step 3</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/sprint6/step4">Step 4</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/sprint6/step5">Step 5</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/sprint6/step6">Step 6</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/sprint6/step7">Step 7</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/sprint6/step8">Step 8</a>
      </li>
    </ol>
  </div>

  <div style="background-color:lightsalmon;">
    <dl>
      {% for k, v in data %}
      <dt>{{ k }}</dt>
      <dd>{{ v }}</dd>
      {% endfor %}
    </dl>
  </div>

{% endblock %} {% block content %}
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">

        <h1 class="govuk-heading-l">Check your answers before submitting your log</h1>

        {# Step One Answers #}
        <h2 class="govuk-heading-m">Step One</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Which year are you completing this log for?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['completion-year'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/sprint6/step1">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Which form are you completing?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['form-name'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/sprint6/step1">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              GDPR?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['gdpr'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/sprint6/step1">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>

        </dl>

        {# Step Two Answers #}
        <h2 class="govuk-heading-m">Step Two</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Tenancy start date
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['tenancy-day'] }}/{{data['tenancy-month']}}/{{data['tenancy-year'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/sprint6/step2">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Type of provider
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['provider'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/sprint6/step2">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Status
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['ll-status'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/sprint6/step2">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>

          {% if data['ll-status'] == "another" %}

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              RP (HA/LA)Name
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['rp-name'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/sprint6/step2">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              CORE code
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['core-code'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/sprint6/step2">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>

          {% endif %}

        </dl>

        {# Step Three Answers #}
        <h2 class="govuk-heading-m">Step Three</h2>

        <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Is this a starter/introductory tenancy?
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['starter-tenancy'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/sprint6/step3">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Type of main tenancy (after any starter/introductory period)
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['tenancy-type'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/sprint6/step3">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>

          {% if data['tenancy-type'] == "other" %}

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Tenancy Type
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['tenancy-type-other'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/sprint6/step3">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>

          {% endif %}

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              Tenant code
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['tenancy-code'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/sprint6/step3">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>

          <div class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">
              If the main tenancy is a fixed term tenancy, please provide the length
              of the fixed term (to the nearest year) excluding any
              starter/introductory period
            </dt>
            <dd class="govuk-summary-list__value">
              {{ data['length-fixed-term'] }}
            </dd>
            <dd class="govuk-summary-list__actions">
              <a class="govuk-link" href="/sprint6/step3">
                Change<span class="govuk-visually-hidden"> name</span>
              </a>
            </dd>
          </div>

        </dl>



        <h2 class="govuk-heading-m">Now send your application</h2>

        <p class="govuk-body">By submitting this notification you are confirming that, to the best of your knowledge,
          the details you are providing are correct.</p>

        <form action="/form-handler" method="post" novalidate>

          <input type="hidden" name="answers-checked" value="true">

          <button class="govuk-button" data-module="govuk-button">
            Accept and send
          </button>

        </form>

      </div>
    </div>
  </main>
</div>

{% endblock %}