{% import "./mhclg.html" as mhclg %}
{% import "./form_titles.html" as titles %}
{% extends "layout.html" %} {% block pageTitle %} Summary {% endblock %} 
{% block header %} {{ govukHeader() }} {% endblock %} 
{% block beforeContent %}
<div class="govuk-width-container">
  <a href="#" class="govuk-back-link">Back</a>

  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="index">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/sprint6">Sprint 6</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/sprint6/step1">Step 1</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/sprint6/step2">Step 2</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/sprint6/step3">Step 3</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/sprint6/step4">Step 4</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/sprint6/step5">Step 5</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/sprint6/step6">Step 6</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/sprint6/step7">Step 7</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="/sprint6/step8">Step 8</a>
      </li>
    </ol>
  </div>

{% endblock %} {% block content %}
  <main class="govuk-main-wrapper " id="main-content" role="main">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds-from-desktop">

        <h1 class="govuk-heading-l">Check your answers before submitting your log</h1>

        {# Step One Answers #}
        {% for step, step_info in mhclg.form_titles %}
          <h2 class="govuk-heading-m">{{ step_info.name }}</h2>
          <dl class="govuk-summary-list govuk-!-margin-bottom-9">
          {% for group, question in step_info.questions %}
            <div class="govuk-summary-list__row">
              <dt class="govuk-summary-list__key">
                {{ question }}
              </dt>
              <dd class="govuk-summary-list__value">
                {% if mhclg.data_lookups[group][data[group]] %}
                  {{ mhclg.data_lookups[group][data[group]] }}
                {% else %}
                  {{ data[group] }}
                {% endif %}
              </dd>
              <dd class="govuk-summary-list__actions">
                <a class="govuk-link" href="/sprint6/{{ step }}">
                  Change<span class="govuk-visually-hidden"> name</span>
                </a>
              </dd>
            </div>
          {% endfor %}
          </dl>
        {% endfor %}

        <h2 class="govuk-heading-m">Now send your application</h2>

        <p class="govuk-body">By submitting this notification you are confirming that, to the best of your knowledge,
          the details you are providing are correct.</p>

        <form action="/form-handler" method="post" novalidate>

          <input type="hidden" name="answers-checked" value="true">

          <button class="govuk-button" data-module="govuk-button">
            Accept and send
          </button>

        </form>

      </div>
    </div>
  </main>
</div>

  <div style="background-color:lightsalmon;">
    <dl>
      {% for k, v in data %}
      <dt>{{ k }}</dt>
      <dd>{{ v }}</dd>
      {% endfor %}
    </dl>
  </div>

{% endblock %}