{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a href="economic-status" class="govuk-back-link">Back</a>
  <a href="../sign-in" class="govuk-link--right ">Sign out</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form name="form" class="form" action="check-answers" method="POST" novalidate="" data-validate="my-form-validation">

      <div class="govuk-form-group">

        <fieldset class="govuk-fieldset" aria-describedby="number-of-other-members-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Number of other people in the household
            </h1>
          </legend>

          <div id="number-of-other-members-hint" class="govuk-hint">
            The maximum number of others is 7
          </div>

          <div class="govuk-form-group">
            <input class="govuk-input govuk-input--width-20" id="number-of-other-members" name="number-of-other-members" type="text" onkeyup=check() value={{ data['number-of-other-members'] }} >
          </div>
      </div>

      {% for i in [1,2,3,4,5,6,7] %}
      <div id="person-{{i}}">
        <hr class="govuk-!-margin-bottom-6" />

        <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
          <h1 class="govuk-fieldset__heading">
            {{ "Person " + (i + 1) }}
          </h1>
        </legend>

        {{ govukRadios({
          idPrefix: "person-" + i + "-relationship-to-main",
          name: "person-" + i + "-relationship-to-main",
          fieldset: {
            legend: {
              text: "Person " + (i + 1) + "'s relationship to lead tenant",
              classes: "govuk-label--s"
            }
          },
          items: [
            {
              value: "Partner",
              text: "Partner",
              checked: checked("person-" + i + "-relationship-to-main", "Partner")
            },
            {
              value: "Child",
              text: "Child - includes young adult and grown-up",
              checked: checked("person-" + i + "-relationship-to-main", "Child")
            },
            {
              value: "Other",
              text: "Other",
              checked: checked("person-" + i + "-relationship-to-main", "Other")
            },
            {
              value: "Prefer not to say",
              text: "Prefer not to say",
              checked: checked("person-" + i + "-relationship-to-main", "Prefer not to say")
            }
          ]
        }) }}

          {{ govukInput({
            label: {
              text: "Person " + (i + 1) + "'s age",
              classes: "govuk-label--s"
            },
            id: "person-" + i + "-age",
            name: "person-" + i + "-age",
            value: data["person-" + i + "-age"]
          }) }}

          {{ govukRadios({
            idPrefix: "person-" + i + "-gender",
            name: "person-" + i + "-gender",
            fieldset: {
              legend: {
                text: "Which of these best describes person " + (i + 1) + "'s gender identity?",
                classes: "govuk-label--s"
              }
            },
            items: [
              {
                value: "Male",
                text: "Male",
                checked: checked("person-" + i + "-gender", "Male")
              },
              {
                value: "Female",
                text: "Female",
                checked: checked("person-" + i + "-gender", "Female")
              },
              {
                value: "Other",
                text: "Other",
                checked: checked("person-" + i + "-gender", "Other")
              },
              {
                value: "Prefer not to say",
                text: "Prefer not to say",
                checked: checked("person-" + i + "-gender", "Prefer not to say")
              }
            ]
          }) }}

          {{ govukRadios({
            idPrefix: "person-" + i + "-economic-status",
            name: "person-" + i + "-economic-status",
            classes: "govuk-radios--small",
            fieldset: {
              legend: {
                text: "Which of these best describes person " + (i + 1) + "'s working situation?",
                classes: "govuk-label--s"
              }
            },
            items: [
              {
                value: "Part-time - Less than 30 hours",
                text: "Part-time - Less than 30 hours",
                checked: checked("person-" + i + "-economic-status", "Part-time (Less than 30 hours)")
              },
              {
                value: "Full-time - 30 hours or more",
                text: "Full-time - 30 hours or more",
                checked: checked("person-" + i + "-economic-status", "Full-time (30 hours or more)")
              },
              {
                value: "In government training into work, such as New Deal",
                text: "In government training into work, such as New Deal",
                checked: checked("person-" + i + "-economic-status", "In government training into work, such as New Deal")
              },
              {
                value: "Jobseeker",
                text: "Jobseeker",
                checked: checked("person-" + i + "-economic-status", "Jobseeker")
              },
              {
                value: "Retired",
                text: "Retired",
                checked: checked("person-" + i + "-economic-status", "Retired")
              },
              {
                value: "Not seeking work",
                text: "Not seeking work",
                checked: checked("person-" + i + "-economic-status", "Not seeking work")
              },
              {
                value: "Full-time student",
                text: "Full-time student",
                checked: checked("person-" + i + "-economic-status", "Full-time student")
              },
              {
                value: "Unable to work because of long term sick or disability",
                text: "Unable to work because of long term sick or disability",
                checked: checked("person-" + i + "-economic-status", "Unable to work because of long term sick or disability")
              },
              {
                value: "Child under 16",
                text: "Child under 16",
                checked: checked("person-" + i + "-economic-status", "Child under 16")
              },
              {
                value: "Other",
                text: "Other",
                checked: checked("person-" + i + "-economic-status", "Other")
              },
              {
                value: "Prefer not to say",
                text: "Prefer not to say",
                checked: checked("person-" + i + "-economic-status", "Prefer not to say")
              }
            ]
          }) }}

      </div>
      {% endfor %}

      <input type="hidden" name="next-page" value="">
      <input type="hidden" name="other-members">
      <input type="hidden" name="household-inprogress" value="true">
      <div class="govuk-button-group">
        <input class="govuk-button" type="submit" value="Save and continue" onclick="saveContinue()"/>
        <a href="../home-page" class="govuk-link">Return to logs</a>
      </div>

      <style>
      #person-1 {
        display: none;
      }
      #person-2{
        display: none;
      }
      #person-3{
        display: none;
      }
      #person-4{
        display: none;
      }
      #person-5{
        display: none;
      }
      #person-6{
        display: none;
      }
      #person-7{
        display: none;
      }
      </style>

      </fieldset>
    </form>
  </div>
</div>

<script>
  const reset_fields = () => {
    for(var i = 1; i<=7; i++ ) {
      let div = "person-".concat(i.toString());
      document.getElementById(div).style.display = "none";
    }
  }

  function check() {
    reset_fields();
    var val = document.getElementById("number-of-other-members").value > 7 ? 7 : document.getElementById("number-of-other-members").value;

    for(var i = 1; i<=val; i++ ) {
      let div = "person-".concat(i.toString());
      document.getElementById(div).style.display = "block";
    }
  }
  check()
</script>

{% endblock %}
