{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a href="tenant-code" class="govuk-back-link">Back</a>
  <a href="/sprint10/sign-in" class="govuk-link--right ">Sign out</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form name="form" class="form" action="../household-section" method="POST" novalidate="" data-validate="my-form-validation">

      <div class="govuk-form-group">

        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Tenant's age
            </h1>
          </legend>

          <div class="govuk-form-group">
            <input class="govuk-input govuk-input--width-20" id="tenant-age" name="tenant-age" type="text" value={{ data['tenant-age'] }} >
          </div>
      </div>

      <input type="hidden" name="next-page" value="gender">
      <input type="hidden" name="tenant-age-page" value="true">
      <input type="hidden" name="household-inprogress" value="true">
      <div class="govuk-button-group">
        <input class="govuk-button" type="submit" value="Save and continue" onclick="saveContinue()"/>
        <a href="../home-page" class="govuk-link">Return to logs</a>
      </div>

      </fieldset>
    </form>
  </div>
</div>

<script type="application/json" id="my-form-validation">
  {
    "tenant-age": {
      "presence": {
        "value": true,
        "message": "^Enter the tenant’s age"
      }
    }
  }
</script>

{% endblock %}
