{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a href="../tasklist" class="govuk-back-link">Back</a>
  <a href="/sprint10/sign-in" class="govuk-link--right ">Sign out</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form name="form" class="form" action="../household-needs-section" method="POST" novalidate="" data-validate="my-form-validation">

      <div class="govuk-form-group">

        <fieldset class="govuk-fieldset" aria-describedby="armed-forces-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Experience of the UK Armed Forces
            </h1>
          </legend>
          <div id="armed-forces-hint" class="govuk-hint">
            {% if not (data["number-of-other-members"][0] > 0) %}
              Has the tenant ever served in the UK armed forces? 
                
              {% else %}
                Has anyone in the household's ever served in the UK armed forces?
              {% endif %}
          </div>

          <div id="armed-forces">

            {% macro radio(data, group, items, changefn) %}
              <div class="govuk-form-group" id="{{ group }}">
                <div class="govuk-radios--small">
                  {% for i in range(0, items['items'].length) %}
                  {% set item = items['items'][i] %}
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="{{ group }}-{{ i }}" name="{{ group }}" type="radio"
                      onchange="{{ changefn }}" value="{{ item['value'] }}" {{ 'checked' if data[group] == item['value'] }} />
                    <label class="govuk-label govuk-radios__label" for="{{ group }}-{{ i }}">
                      {{ item['text'] }}
                    </label>
                  </div>
                    {% endfor %}
                </div>
              </div>
            {% endmacro %}

            {{ radio(data, "armed-forces", {
              items: [
                {
                  value: "Yes - a regular",
                  text: "Yes - a regular"
                },
                {
                  value: "Yes - a reserve",
                  text: "Yes - a reserve"
                },
                {
                  value: "No",
                  text: "No"
                },
                {
                  value: "Prefer not to say",
                  text: "Prefer not to say"
                }
              ]
              }, "displayArmed(this.value)") }}

              <div id="armed-forces-tenure-div" class="govuk-!-padding-bottom-5">
                {{ govukRadios({
                idPrefix: "armed-forces-tenure",
                name: "armed-forces-tenure",
                classes: "govuk-radios",
                fieldset: {
                  legend: {
                    text: "Are they still serving?",
                    classes: "govuk-label--l"
                  }
                },
                items: [
                  {
                    value: "Yes",
                    text: "Yes",
                    checked: checked("armed-forces-tenure", "Yes")
                  },
                  {
                    value: "No - they left up to 5 years ago",
                    text: "No - they left up to 5 years ago",
                    checked: checked("armed-forces-tenure", "No - they left up to 5 years ago")
                  },
                  {
                    value: "No - they left more than 5 years ago",
                    text: "No - they left more than 5 years ago",
                    checked: checked("armed-forces-tenure", "No - they left more than 5 years ago")
                  },
                  {
                    value: "Prefer not to say",
                    text: "Prefer not to say",
                    checked: checked("armed-forces-tenure", "Prefer not to say")
                  }
                ]
              }) }}
            </div>

            <div id="armed-forces-injured-div" class="govuk-!-padding-bottom-5">
              {{ govukRadios({
              idPrefix: "armed-forces-injured",
              name: "armed-forces-injured",
              fieldset: {
                legend: {
                  text: "Were they seriously injured or ill as a result of their service?",
                  classes: "govuk-label--l"
                }
              },
              items: [
                {
                  value: "Yes",
                  text: "Yes",
                  checked: checked("armed-forces-injured", "Yes")
                },
                {
                  value: "No",
                  text: "No",
                  checked: checked("armed-forces-injured", "No")
                },
                {
                  value: "Prefer not to say",
                  text: "Prefer not to say",
                  checked: checked("armed-forces-injured", "Prefer not to say")
                }
              ]
            }) }}
          </div>
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              {% if not (data["number-of-other-members"][0] > 0) %}
                Was the tenant the spouse or civil partner of someone who served in the UK armed forces? 
              {% else %}
                Was anyone in the household the spouse or civil partner of someone who served in the UK armed forces?
              {% endif %}
            </h1>
          </legend>
          {% macro spouseRadio(data, group, items) %}
              <div class="govuk-form-group" id="{{ group }}">
                <div class="govuk-radios--small">
                  {% for i in range(0, items['items'].length) %}
                  {% set item = items['items'][i] %}
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="{{ group }}-{{ i }}" name="{{ group }}" type="radio"
                      value="{{ item['value'] }}" {{ 'checked' if data[group] == item['value'] }} />
                    <label class="govuk-label govuk-radios__label" for="{{ group }}-{{ i }}">
                      {{ item['text'] }}
                    </label>
                  </div>
                    {% endfor %}
                </div>
              </div>
            {% endmacro %}

            {{ spouseRadio(data, "armed-forces-spouse", {
              items: [
                {
                  value: "Yes - was the spouse or civil partner of a UK Armed Forces member and have separated within the last 2 years ",
                  text: "Yes - was the spouse or civil partner of a UK Armed Forces member and have separated within the last 2 years "
                },
                {
                  value: "Yes - was the spouse or civil partner of a UK Armed Forces member who died within the last 2 years ",
                  text: "Yes - was the spouse or civil partner of a UK Armed Forces member who died within the last 2 years"
                },
                {
                  value: "No",
                  text: "No"
                },
                {
                  value: "Prefer not to say",
                  text: "Prefer not to say"
                }
              ]
              }) }}
          </div>
      </div>

      <input type="hidden" name="next-page" value="disabilities">
      <input type="hidden" name="armed-forces-page" value="true">
      <input type="hidden" name="household-needs-inprogress" value="true">
      <div class="govuk-button-group">
        <input class="govuk-button" type="submit" value="Save and continue" onclick="saveContinue()"/>
        <a href="../home-page" class="govuk-link">Return to logs</a>
      </div>

      <style>
      #armed-forces-tenure-div {
        display: none;
      }
      #armed-forces-injured-div {
        display: none;
      }
      </style>

      </fieldset>
    </form>
    {% import "./../_get-help.njk" as help %}
    {{ help.details() }}
  </div>
</div>

<script>
  function displayArmed(selected) {
    if(selected == "Yes - a regular" || selected == "Yes - a reserve"){
      document.getElementById("armed-forces-tenure-div").style.display = "block";
      document.getElementById("armed-forces-injured-div").style.display = "block";
    } else {
      document.getElementById("armed-forces-tenure-div").style.display = "none";
      document.getElementById("armed-forces-tenure").checked = false;
      document.getElementById("armed-forces-tenure-2").checked = false;
      document.getElementById("armed-forces-tenure-3").checked = false;
      document.getElementById("armed-forces-tenure-4").checked = false;

      document.getElementById("armed-forces-injured-div").style.display = "none";
      document.getElementById("armed-forces-injured").checked = false;
      document.getElementById("armed-forces-injured-2").checked = false;
      document.getElementById("armed-forces-injured-3").checked = false;
    }
  }
  // So that this runs if you've already answered and hit the back button
  displayArmed()
</script>

{% endblock %}
