{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a href="letting-type" class="govuk-back-link">Back</a>
  <a href="../sign-in" class="govuk-link--right ">Sign out</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form name="form" class="form" action="check-answers" method="POST" novalidate="" data-validate="my-form-validation">

      <div class="govuk-form-group">

        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Provider
            </h1>
          </legend>

          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="landlord" type="radio" name="landlord" value="This landlord" data-value="This landlord">
              <label class="govuk-label govuk-radios__label" for="landlord">
                This landlord
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="landlord" type="radio" name="landlord" value="Another registered provider" data-value="Another RP (HA/LA)">
              <label class="govuk-label govuk-radios__label" for="landlord-2">
                Another registered provider - includes housing association or local authority
              </label>
            </div>

          </div>
      </div>

      <input type="hidden" name="landlord-page" value="true">
      <input type="hidden" name="tenancy-inprogress" value="true">
      <input class="govuk-button" type="submit" value="Save and continue" />

      </fieldset>
    </form>
  </div>
</div>

{% endblock %}
