{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a href="tenancy-start-date" class="govuk-back-link">Back</a>
  <a href="../sign-in" class="govuk-link--right ">Sign out</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form name="form" class="form" action="../tenancy-section" method="POST" novalidate="" data-validate="my-form-validation">

      <div class="govuk-form-group">

        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Is this a starter or introductory tenancy?
            </h1>
          </legend>

          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="starter-tenancy" type="radio" name="starter-tenancy" value="Yes" data-value="Yes">
              <label class="govuk-label govuk-radios__label" for="starter-tenancy">
                Yes
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="starter-tenancy" type="radio" name="starter-tenancy" value="No" data-value="No">
              <label class="govuk-label govuk-radios__label" for="starter-tenancy-2">
                No
              </label>
            </div>

          </div>
      </div>

      <input type="hidden" name="next-page" value="fixed-term">
      <input type="hidden" name="starter-tenancy-page" value="true">
      <input type="hidden" name="tenancy-inprogress" value="true">
      <input class="govuk-button" type="submit" value="Save and continue" />

      </fieldset>
    </form>
  </div>
</div>

{% endblock %}
