{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="check-answers" method="POST" novalidate="" data-validate="my-form-validation">

      <div class="govuk-form-group">

        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Status of the provider
            </h1>
          </legend>

          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="status-of-provider" type="radio" name="status-of-provider" value="This landlord" data-value="This landlord">
              <label class="govuk-label govuk-radios__label" for="status-of-provider">
                This landlord
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="status-of-provider" type="radio" name="status-of-provider" value="Another registered provider" data-value="Another RP (HA/LA)">
              <label class="govuk-label govuk-radios__label" for="status-of-provider-2">
                Another registered provider - includes housing association or local authority
              </label>
            </div>

          </div>
      </div>

      <input type="hidden" name="status-provider-page">
      <input type="hidden" name="tenancy-inprogress" value="true">
      <input class="govuk-button" type="submit" value="Save and continue" />

      </fieldset>
    </form>
  </div>
</div>

{% endblock %}
