{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="letting-type" method="POST" novalidate="" data-validate="my-form-validation">

      <div class="govuk-form-group">

        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Type of main tenancy after any starter or introductory period
            </h1>
          </legend>

          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="tenancy-type" type="radio" name="tenancy-type" value="Secure including flexible" data-value="Secure including flexible">
              <label class="govuk-label govuk-radios__label" for="tenancy-type">
                Secure including flexible
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="tenancy-type" type="radio" name="tenancy-type" value="Assured" data-value="Assured">
              <label class="govuk-label govuk-radios__label" for="tenancy-type-2">
                Assured
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="tenancy-type" type="radio" name="tenancy-type" value="Assured shorthold" data-value="Assured shorthold">
              <label class="govuk-label govuk-radios__label" for="tenancy-type-3">
                Assured shorthold
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="tenancy-type" type="radio" name="tenancy-type" value="License agreement" data-value="License agreement">
              <label class="govuk-label govuk-radios__label" for="tenancy-type-4">
                License agreement
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="tenancy-type" type="radio" name="tenancy-type" value="Other" data-value="Other">
              <label class="govuk-label govuk-radios__label" for="tenancy-type-5">
                Other
              </label>
            </div>

          </div>
      </div>

      <input type="hidden" name="type-of-main-tenacy-page">
      <input type="hidden" name="tenancy-inprogress" value="true">
      <input class="govuk-button" type="submit" value="Save and continue" />

      </fieldset>
    </form>
  </div>
</div>

{% endblock %}
