{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Data Mapping</h1>
      <p>Please map your data to ours in the form below:</p>

      <form class="form" action="/complete" method="post">
        <div class="govuk-accordion" data-module="govuk-accordion" id="accordion-with-summary-sections">
        </div>
        <button class="govuk-button" data-module="govuk-button">Continue</button>
      </form>
    </div>
  </div>

<script>
      const ourColumns = [
          "Type of letting", "Who is the landlord?", "Registration no/LA CORE code", "Management group", 
          "Scheme code", "First letting?", "Tenant code", "Starter/Introductory Tenancy?", "Type of tenancy", 
          "If you responded 'Other' in Q2b, please state tenancy type", "Tenancy Duration", "Age of Person 1",
          "Age of Person 2", "Age of Person 3", "Age of Person 4", "Age of Person 5", "Age of Person 6", 
          "Age of Person 7", "Age of Person 8", "Gender of Person 1", "Gender of Person 2",
          "Gender of Person 3", "Gender of Person 4", "Gender of Person 5", "Gender of Person 6", 
          "Gender of Person 7", "Gender of Person 8", "Relationship (of Person 2) to Person 1", 
          "Relationship (of Person 3) to Person 1", "Relationship (of Person 4)  to Person 1",
          "Relationship (of Person 5) to Person 1", "Relationship (of Person 6) to Person 1",
          "Relationship (of Person 7) to Person 1", "Relationship (of Person 8)  to Person 1",
          "Economic Status of Person 1", "Economic Status of Person 2", "Economic Status of Person 3",
          "Economic Status of Person 4", "Economic Status of Person 5", "Economic Status of Person 6",
          "Economic Status of Person 7", "Economic Status of Person 8", "Ethnic group of person 1 as defined by applicant",
          "Nationality of person 1 as defined by applicant", 
          "Has anyone in the household ever served in the UK armed forces as a regular or reserve? (Excluding National Service)",
          "Has anyone in the household been seriously injured or ill as a direct result of their time and activities serving as a regular or a reserve?",
          "Does the household contain a pregnant person?",
          "Is the tenant in receipt of or likely to be in receipt of the following:",
          "How much of your income comes from universal credit, state pensions or benefits (excluding child and housing benefit, UC housing element, and council tax support or tax credit)?",
          "Tenant’s or tenant and partner’s net income (after tax deductions). For those receiving Universal Credit, enter net weekly income from employment, pensions and Universal Credit. Exclude child benefit, housing element of universal credit and council tax support. For those not receiving Universal Credit, please enter net weekly income from employment, pensions and other benefits. Exclude housing benefit, child benefit and council tax support.",
          "Income refused",
          "In the tenant's view what was the main reason the household left their last settled home?",
          "If you responded 'Other' in 9a, please state main reason",
          "Was the reason for leaving a direct result of the removal of the spare room subsidy or benefit cap introduced from 2013?",
          "Accessibility: a)  Fully wheelchair accessible",
          "Accessibility: b) Wheelchair access to essential rooms",
          "Accessibility: c) Requires level access housing",
          "Accessibility: f)  Other disability",
          "Accessibility: g)  No disability",
          "Accessibility: h) Don't know",
          "The housing situation for this household immediately before this letting",
          "Enter LA in which household lived immediately before this letting",
          "Part 1 of postcode of previous accommodation",
          "Part 2 of postcode of previous accommodation",
          "If postcode of previous accommodation is unknown or if the previous accommodation was temporary",
          "How long has the household continuously lived in the local authority area where the new letting is located?",
          "How long has the household been on the waiting list of the local authority district where the new letting is located?",
          "Immediately prior to this letting, was this household homeless?",
          "Was the household given Reasonable Preference (i.e. priority) for housing by the local authority?",
          "Homeless or about to lose their home (within 56  days)",
          "Living in insanitary, overcrowded or unsatisfactory housing",
          "A need to move on medical and welfare grounds (including a disability)",
          "A need to move to avoid hardship to themselves or others",
          "Don't know",
          "Was the letting made under any of the following allocations systems? (CBL)",
          "Was the letting made under any of the following allocations systems? (CHR)",
          "Was the letting made under any of the following allocations systems? (CAP)",
          "Source of referral for this letting?",
          "Rent and other charges period",
          "Basic rent",
          "Service charge",
          "Personal Service Charge",
          "Support charge",
          "Total charge",
          "total charge for care homes",
          "Please tick if there is neither rent nor charge to the occupant for the accommodation",
          "After housing benefit and/or housing element of Universal Credit payment is received, will there be an outstanding amount for basic rent (18i) and/or benefit eligible charges (18ii)?",
          "After housing benefit and/or other housing support payments are received, will there be an outstanding amount for basic rent and/or benefit eligible charges?",
          "Day of Month",
          "Month",
          "Year",
          "Major repairs completion date",
          "Major repairs completion date",
          "Major repairs completion date",
          "if the unit is in a supported scheme for stays of one month or less….",
          "tenancy start date",
          "tenancy start date",
          "tenancy start date",
          "How many times has the unit been previously offered since becoming available for relet since the last tenancy ended or as a first let? For an Affordable Rent or Rent to Buy Letting, only include number of offers as that type. (For a property let at the firsty attempt enter '0').",
          "RP property reference (if applicable)",
          "Number of bedrooms",
          "Type of unit",
          "Type of building",
          "Is property built or adapted to wheelchair users standards",
          "If this is a relet, was the property most recently let on",
          "Reason for vacancy",
          "Enter LA of property",
          "Part 1 of postcode of property",
          "Part 2 of postcode of property",
          "If previous postcode and new postcode are the same",
          "Managed (owning) organisation CORE ID",
          "Username Field",
          "Managing (Data providing) Organisation CORE ID ",
          "If they've ever served as a regular, did they leave…",
          "Enter the Unique Property Reference Number if known",
          "Is the income…",
          "Is this letting sheltered accommodation?",
          "Data Protection question"
      ]

      const theirColumns = [
          "Local Authority", "Housing Category", "Rental Object.", "Acquisition Date", "Postcode - 1st part", 
          "Postcode - 2nd part", "Property Type", "No. of Bedrooms", "RE Contract", "Contract Type", 
          "Contract Start Date", "Prev Cont End Date", "Previous Reason for Termination", "Company (AO)", 
          "Tenancy Allocation Source", "Max Major Works Date", "Max Remodelling Date", "Max ReInvestment Date", 
          "Max HeldForDecant Date", "Max NewProperty Date",
          "2) Rental Object Reference:", "3) Rental Object Postcode:", "4) Contract Number (Tenancy Reference):",
          "5) Contract Start Date:", 
          "6) In the tenant’s view what was the main reason the household left their last settled home?:", 
          "7) If you responded 'Other' to Q6, please state the main reason:", 
          "8) Was the reason for leaving a direct result of the removal of the spare room subsidy or benefit cap introduced from 2013?:",
          "9) What was the housing situation for this household immediately before this letting?:", 
          "10) Enter Local Authority in which household lived immediately before this letting:", 
          "11) Postcode of the previous accommodation (leave blank if previous postcode is unknown or previous accommodation was temporary):", 
          "12) How long has the household continuously lived in the local authority area where the new letting is located?:", 
          "13) How long has the household been on the waiting list of the local authority district where the new letting is located?:",
          "14) Immediately prior to this letting, was this household…?:",
          "15) Was the household given reasonable Preference for housing by the Local Authority?:",
          "16) Which of following reasonable preferences apply (tick any which are applicable, leave un-ticked if Q15 answered 'No' or 'Don't Know')?:", 
          "17) Was the letting made under any of the following allocations systems? (tick any which are applicable, leave un-ticked if none apply):",
          "20) How many times has the unit been previously offered since becoming available for relet since the last tenancy ended or as a first let?  For an Affordable Rent or Rent to Buy Letting, only include number of offers as that type. (For a property let at t", 
          "21) Reason for vacancy:",
          "Company Code",
          "Contract",
          "Legal Agreement Type",
          "Notice Procedure Name",
          "Fixed End Date"

        ]
      
  const mapping = {}

  function buildSection(i, column){
      var options = "";
      $.each(theirColumns, function(i, column){
          options = options + `<option value="${column}">${column}</option>`
        })
      const section = `
        <div class="govuk-accordion__section ">
          <div class="govuk-accordion__section-header">
             <input type="hidden" id="map-from-column-${i}" name="map-from-column-${i}" value="${column}" />
             <h2 class="govuk-accordion__section-heading" id="heading-${i}">
             <span class="govuk-accordion__section-button" id="accordion-with-summary-sections-heading-x-${i}">
               ${column}
             </span>
            </h2>
            <div class="govuk-accordion__section-summary govuk-body" id="accordion-with-summary-sections-summary-x-${i}">
            </div>
          </div>
           <div id="accordion-with-summary-sections-content-x-1" class="govuk-accordion__section-content" aria-labelledby="accordion-with-summary-sections-heading-1">
       <select class="govuk-select" id="section-${i}-mapping" name="section-${i}-mapping" onchange="mapSection(${i})">
               <option value="" selected>Please select the field to map</option>
               ${options}
             </select>
           </div>
        </div>
          `
      $("#accordion-with-summary-sections").append(section);
  }

  function mapSection(index){
      const mapFrom = $(`#map-from-column-${index}`).val();
      const mapTo = $("#section-"+index+"-mapping").val();
      const mappingDisplay = mapTo ? ` -> ${mapTo}` : "";
      console.log(`Mapping ${mapFrom} to ${mapTo} for ${index}`)
      mapping[mapFrom] = mapTo;
      $(`#accordion-with-summary-sections-heading-x-${index}`).html(`${mapFrom}${mappingDisplay} <span class="govuk-accordion__icon" aria-hidden="true"></span>`);
  }

  function buildAccordion(){
    $.each(ourColumns, buildSection) 
  }

  buildAccordion()
</script>

</div>
{% endblock %}
