{% extends "layout.html" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block pageTitle %} Introduction Page {% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-xl">Data Collection Alpha</h1>

    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-caption-l">Sprint 2</h2>
      <h2 class="govuk-heading-l">Data upload and mapping</h2>
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">?</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Hypothesis</span>
          If we allow data providers to submit data in their own format (i.e
          their own data exports) then we will get more timely data because
          providers will find it easier to submit data
        </strong>
      </div>
      <a href="/sprint2" role="button" draggable="false"
         class="govuk-button govuk-button--start" data-module="govuk-button">
        View
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg"
             width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true"
             focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>
    </div>

    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-caption-l">Sprint 3</h2>
      <h2 class="govuk-heading-l">Data Insights</h2>
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">?</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Hypothesis</span>
          If providers have faster and easier access to the insights they value,
          then they will feel more motivated to provide good (accurate, timely)
          data.
        </strong>
      </div>
      <a href="/sprint3" role="button" draggable="false"
         class="govuk-button govuk-button--start" data-module="govuk-button">
        View
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg"
             width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true"
             focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>
    </div>
    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-caption-l">Sprint 4</h2>
      <h2 class="govuk-heading-l">Mapping Cont. (FlatFile)</h2>
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">?</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Hypothesis</span>
          Continued exploration of mapping complex questions. Using <a href="https://flatfile.io/">FlatFile</a> to speed up developent and insights gathering.
        </strong>
      </div>
      <a href="/sprint4/" role="button" draggable="false"
         class="govuk-button govuk-button--start" data-module="govuk-button">
        View
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg"
             width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true"
             focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>
    </div>
    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-caption-l">Sprint 6</h2>
      <h2 class="govuk-heading-l">Form redesign</h2>
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">?</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Hypothesis 1</span>
          As a housing officer, I need the CORE form to be as quick and easy to submit as possible, so that I can spend more time getting people into sustained tenancies. 
        </strong>
        <strong class="govuk-warning-text__text">
        <span class="govuk-warning-text__assistive">Hypothesis 2</span>
  As a data analyst, I need accurate and complete data on new social housing sales and lettings, so that we can inform social housing policies.
  </strong>
      </div>
      <a href="/sprint6/" role="button" draggable="false"
         class="govuk-button govuk-button--start" data-module="govuk-button">
        View
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg"
             width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true"
             focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>
    </div>
    <div class="govuk-grid-column-one-half">
      <h2 class="govuk-caption-l">Prototype</h2>
      <h2 class="govuk-heading-l">Full consolidation</h2>
      <div class="govuk-warning-text">
        <span class="govuk-warning-text__icon" aria-hidden="true">?</span>
        <strong class="govuk-warning-text__text">
          <span class="govuk-warning-text__assistive">Overview</span>
          A consolidation of previous prototype work to allow for analysis of this alpha phase 
        </strong>
      </div>
      <a href="/prototype/" role="button" draggable="false"
         class="govuk-button govuk-button--start" data-module="govuk-button">
        View
        <svg class="govuk-button__start-icon" xmlns="http://www.w3.org/2000/svg"
             width="17.5" height="19" viewBox="0 0 33 40" aria-hidden="true"
             focusable="false">
          <path fill="currentColor" d="M0 0h13l20 20-20 20H0l20-20z"></path>
        </svg>
      </a>
    </div>
  </div>
</div>
{% endblock %}
