{% extends "layout.html" %}
{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}

{% block pageTitle %}Prototype start page - {{ serviceName }}{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <span class="govuk-caption-xl">CORE data collection prototype</span>
    <h1 class="govuk-heading-xl">Single log submission</h1>

    {% set alphaContent %}
    {% include "./includes/alpha-index.html" %}
    {% endset %}

    {% set betaContent %}
    {% include "./includes/beta-index.html" %}
    {% endset %}

    {{ govukTabs({
      items: [
        {
          label: "Beta",
          id: "beta",
          panel: {
            html: betaContent
          }
        },
        {
          label: "Alpha",
          id: "alpha",
          panel: {
            html: alphaContent
          }
        }
      ]
    }) }}

  </div>
</div>
{% endblock %}
