{% extends "layout.html" %}

{% block pageTitle %}
  Question page
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/url/of/previous/page">Back</a>
{% endblock %}

{% block content %}

<div>
{% for header in data.parsedTabularDocument.data.columns %}
{{ header }}
{% endfor %}
</div>

<form action="/save-mapping" method="post">

  <input type="hidden" name="currentPage" value="{{ data.nextPage }}">
  <input type="hidden" name="mapFrom" value="{{ data.columnToEdit }}">
  <input type="hidden" name="mapTo" value="Brian">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Map the {{ data.columnToEdit }}</h1>


        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                {{data.columnToEdit}}
              </h1>
            </legend>
            <div id="changed-name-hint" class="govuk-hint">
              Select the matching data type from your data for {{data.columnToEdit}}
            </div>
            <div class="govuk-radios govuk-radios--inline">

            {% for column in data.mhclg_data_columns %}
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="changed-name" name="changed-name" type="radio" value="yes">
                <label class="govuk-label govuk-radios__label" for="changed-name">
                  {{column.columnName}}
                </label>
              </div>
            {% endfor %}
          </fieldset>
        </div>


{% from "govuk/components/button/macro.njk" import govukButton %}

{{ govukButton({
  text: "Save and continue"
}) }}
      </form>


    </div>
  </div>

  <a href="#" class="govuk-link govuk-link--no-visited-state">None of these match</a>

{% endblock %}
