{% extends "layout.html" %}

{% block pageTitle %}
Check your answers
{% endblock %}

{% block beforeContent %}
  <a href="allocation-type" class="govuk-back-link">Back</a>
  <a href="../sign-in" class="govuk-link--right ">Sign out</a>
{% endblock %}

{% block content %}

{% set baseQuestions = ['time-lived-in-la', 'time-on-waiting-list', 'previous-la', 'previous-postcode', 'reasonable-preference', 'choice-based', 'common-housing-register', 'common-allocation-policy'] %}
{% set conditionalQuestions = ['reasonable-preference-reason'] %}
{% set allQuestions = ['time-lived-in-la', 'time-on-waiting-list', 'previous-la', 'previous-postcode', 'reasonable-preference', 'reasonable-preference-reason', 'choice-based', 'common-housing-register', 'common-allocation-policy'] %}
{% set numberOfQuestions = baseQuestions | length %}
{% set reasonablePreferenceConditional = data['reasonable-preference'] == 'Yes' %}
{% if reasonablePreferenceConditional %}
  {% set numberOfQuestions = numberOfQuestions + 1 %}
{% endif %}
{% set numberOfCompletedQuestions = 0 %}

{% for question in allQuestions %}
  {% if data[question] %}
    {% set numberOfCompletedQuestions = numberOfCompletedQuestions + 1 %}
  {% endif %}
{% endfor %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-l">Check the answers you gave for Local Authority</h1>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        {% if numberOfCompletedQuestions < numberOfQuestions %}
          <p class="govuk-body govuk-!-margin-bottom-7">You answered {{ numberOfCompletedQuestions }} of {{ numberOfQuestions }} questions.<br />
          <a class="task-name" href="/sprint10/local-authority-section?next-page=''" aria-describedby="read-declaration-completed">Answer the missing questions</a>
        {% else %}
          <p class="govuk-body govuk-!-margin-bottom-7">You answered all the questions.<br />
        {% endif %}
      </p>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            How long has the household continuously lived in the local authority area where the new letting is located?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["time-lived-in-la"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/sprint10/local-authority/time-lived-in-la?check=true">
              {{ "Change" if data["time-lived-in-la"] else "Answer"}}<span class="govuk-visually-hidden">time-lived-in-la</span>
            </a>
          </dd>
        </div>
      </dl>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            How long has the household been in the local authority waiting list where the new letting is located?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["time-on-waiting-list"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/sprint10/local-authority/time-on-waiting-list?check=true">
              {{ "Change" if data["time-on-waiting-list"] else "Answer"}}<span class="govuk-visually-hidden">time-on-waiting-list</span>
            </a>
          </dd>
        </div>
      </dl>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            The LA in which household lived immediately before this letting
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["previous-la"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/sprint10/local-authority/previous-la?check=true">
              {{ "Change" if data["previous-la"] else "Answer"}}<span class="govuk-visually-hidden">previous-la</span>
            </a>
          </dd>
        </div>
      </dl>

      {% set value = data["previous-postcode"] if data["previous-postcode"] else "" %}
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Postcode of previous accomodation if the household has moved from settled accommodation
          </dt>
          <dd class="govuk-summary-list__value">
            {{ value | trim_end(",") }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/sprint10/local-authority/previous-postcode?check=true">
              {{ "Change" if data["previous-postcode"] else "Answer"}}<span class="govuk-visually-hidden">previous-postcode</span>
            </a>
          </dd>
        </div>
      </dl>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Was the household given Reasonable Preference (i.e. priority) for housing by the Local Authority?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["reasonable-preference"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/sprint10/local-authority/reasonable-preference?check=true">
              {{ "Change" if data["reasonable-preference"] else "Answer"}}<span class="govuk-visually-hidden">reasonable-preference</span>
            </a>
          </dd>
        </div>
      </dl>

      {% if reasonablePreferenceConditional %}
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Reason for reasonable preference
          </dt>
          <dd class="govuk-summary-list__value">
            {% set value = data["reasonable-preference-reason"] |d([]) | join(", ") %}
            {{ value | trim_end(", ") }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/sprint10/local-authority/reasonable-preference?check=true">
              {{ "Change" if data["reasonable-preference-reason"] else "Answer"}}<span class="govuk-visually-hidden">reason for reasonable preference</span>
            </a>
          </dd>
        </div>
      </dl>
      {% endif %}

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Choice-based letting?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["choice-based"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/sprint10/local-authority/allocation-type?check=true">
              {{ "Change" if data["choice-based"] else "Answer"}}<span class="govuk-visually-hidden">allocation type</span>
            </a>
          </dd>
        </div>
      </dl>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Common housing register letting?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["common-housing-register"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/sprint10/local-authority/allocation-type?check=true">
              {{ "Change" if data["common-housing-register"] else "Answer"}}<span class="govuk-visually-hidden">allocation type</span>
            </a>
          </dd>
        </div>
      </dl>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Common allocation policy letting?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["common-allocation-policy"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/sprint10/local-authority/allocation-type?check=true">
              {{ "Change" if data["common-allocation-policy"] else "Answer"}}<span class="govuk-visually-hidden">allocation type</span>
            </a>
          </dd>
        </div>
      </dl>
    </dl>

    <form action="../tasklist" method="post" novalidate>
      {% if numberOfCompletedQuestions < numberOfQuestions %}
        <input type="hidden" name="local-authority-completed" value="false">
      {% else %}
        <input type="hidden" name="local-authority-completed" value="true">
      {% endif %}
      <button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>
    </form>

  </div>
</div>

{% endblock %}
