<h2 class="govuk-heading-l">Beta 1</h2>
<h3 class="govuk-heading-m">Hypothises we're testing with this prototype</h3>
<p>#1: If we show more than one thing per page</p>
<ul class="govuk-list govuk-list--bullet">
  <li>this will speed-up data entry</li>
  <li>all users, regardless of access need, can effectively use the service</li>
</ul>
<div class="govuk-button-group">
<a href="/beta-1/guidance" class="govuk-button">Start Beta 1 prototype</a>
<a href="/beta-1" class="govuk-link">Start from service start page</a>
</div>