{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a href="type-of-building" class="govuk-back-link">Back</a>
  <a href="/sprint10/sign-in" class="govuk-link--right ">Sign out</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form name="form" class="form" action="../property-section" method="POST" novalidate="" data-validate="my-form-validation">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="bedrooms-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Number of bedrooms
            </h1>
          </legend>
          <div id="bedrooms-hint" class="govuk-hint">
            if shared accommodation, enter number of bedrooms occupied by this household; a bed-sit has 1 bedroom
          </div>

          <div class="govuk-form-group">
            <input class="govuk-input govuk-input--width-20" id="bedrooms" name="bedrooms" type="number" value={{ data['bedrooms'] }}>
          </div>
        </fieldset>
      </div>

      <input type="hidden" name="next-page" value="void-date">
      <input type="hidden" name="number-of-bedrooms-page" value="true">
      <input type="hidden" name="property-inprogress" value="true">
      <div class="govuk-button-group">
        <input class="govuk-button" type="submit" value="Save and continue" onclick="saveContinue()"/>
        <a href="../home-page" class="govuk-link">Return to logs</a>
      </div>

    </form>
  </div>
</div>

{% endblock %}
