{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a href="reason-for-vacancy" class="govuk-back-link">Back</a>
  <a href="../sign-in" class="govuk-link--right ">Sign out</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form name="form" class="form" action="../property-section" method="POST" novalidate="" data-validate="my-form-validation">

      <div class="govuk-form-group">

        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Property reference
            </h1>
          </legend>

          <div class="govuk-form-group">
            <input class="govuk-input govuk-input--width-20" id="property-reference" name="property-reference" data-value="property-reference" type="text" value={{ data["property-reference"] }}>
          </div>
      </div>

      <input type="hidden" name="next-page" value="type-of-unit">
      <input type="hidden" name="property-reference-page" value="true">
      <input type="hidden" name="property-inprogress" value="true">
      <div class="govuk-button-group">
        <input class="govuk-button" type="submit" value="Save and continue" onclick="saveContinue()"/>
        <input class="govuk-button govuk-button--secondary" type="submit" value="Save and exit" onclick="saveExit()" />
      </div>

      </fieldset>
    </form>
  </div>
</div>

{% endblock %}
