{% extends "layout.html" %}

{% block pageTitle %}
Check your answers
{% endblock %}

{% block beforeContent %}
  <a href="other-household-members" class="govuk-back-link">Back</a>
  <a href="/sprint11/sign-in" class="govuk-link--right ">Sign out</a>
{% endblock %}

{% block content %}

{% set previous = "other-household-members" %}

{% set baseQuestions = ['tenant-code', 'tenant-age', 'gender', 'nationality', 'ethnicity', 'economic-status', 'number-of-other-members'] %}
{% set allQuestions = ['tenant-code', 'tenant-age', 'gender', 'nationality', 'ethnicity', 'economic-status', 'number-of-other-members'] %}
{% for i in [2,3,4,5,6,7,8] %}
 {% set allQuestions = (allQuestions.push("person-" + i + "-relationship-to-main"), allQuestions) %}
 {% set allQuestions = (allQuestions.push("person-" + i + "-age"), allQuestions) %}
 {% set allQuestions = (allQuestions.push("person-" + i + "-gender"), allQuestions) %}
 {% set allQuestions = (allQuestions.push("person-" + i + "-economic-status"), allQuestions) %}
{% endfor %}
{% set numberOfQuestions = baseQuestions | length %}
{% set numberOfHouseholdMembers = data['number-of-other-members'][0] if data['number-of-other-members'][0] else 0 %}
{% set numberOfQuestions = numberOfQuestions + (4 * numberOfHouseholdMembers) %}
{% set numberOfCompletedQuestions = 0 %}

{% for question in allQuestions %}
  {% if data[question] %}
    {% set numberOfCompletedQuestions = numberOfCompletedQuestions + 1 %}
  {% endif %}
{% endfor %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-l">Check the answers you gave for household characteristics</h1>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        {% if numberOfCompletedQuestions < numberOfQuestions %}
          <p class="govuk-body govuk-!-margin-bottom-7">You answered {{ numberOfCompletedQuestions }} of {{ numberOfQuestions }} questions.<br />
          <a class="task-name" href="/sprint11/household-section?next-page=''" aria-describedby="read-declaration-completed">Answer the missing questions</a>
        {% else %}
          <p class="govuk-body govuk-!-margin-bottom-7">You answered all the questions.<br />
        {% endif %}
      </p>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Tenant code
          </dt>
          <dd class="govuk-summary-list__value">

            {{ data["tenant-code"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/sprint11/household/tenant-code?check=true">
              {{ "Change" if data["tenant-code"] else "Answer"}}<span class="govuk-visually-hidden">Tenant Code</span>
            </a>
          </dd>
        </div>
      </dl>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Tenant's age
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["tenant-age"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/sprint11/household/tenant-age?check=true">
              {{ "Change" if data["tenant-age"] else "Answer"}}<span class="govuk-visually-hidden">Tenant Age</span>
            </a>
          </dd>
        </div>
      </dl>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Tenant's gender
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["gender"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/sprint11/household/gender?check=true">
              {{ "Change" if data["gender"] else "Answer"}}<span class="govuk-visually-hidden">Tenant Gender</span>
            </a>
          </dd>
        </div>
      </dl>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Ethnicity
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["ethnicity"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/sprint11/household/ethnicity?check=true">
              {{ "Change" if data["ethnicity"] else "Answer"}}<span class="govuk-visually-hidden">Ethnicity</span>
            </a>
          </dd>
        </div>
      </dl>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Nationality
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["nationality"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/sprint11/household/nationality?check=true">
              {{ "Change" if data["nationality"] else "Answer"}}<span class="govuk-visually-hidden">Nationality</span>
            </a>
          </dd>
        </div>
      </dl>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Work
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["economic-status"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/sprint11/household/economic-status?check=true">
              {{ "Change" if data["economic-status"] else "Answer"}}<span class="govuk-visually-hidden">Economic Status</span>
            </a>
          </dd>
        </div>
      </dl>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Number of Other Household Members
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data["number-of-other-members"][0] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/sprint11/household/other-household-members?check=true">
            {{ "Change" if data["number-of-other-members"] else "Answer"}}<span class="govuk-visually-hidden">Other Household Members</span>
          </a>
        </dd>
      </div>
    </dl>

    {% for i in [2,3,4,5,6,7,8] %}
      {% if  data["number-of-other-members"][0] >= i-1 %}
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            {{ "Person " + (i) + "'s relationship to lead tenant" }}
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["person-" + i + "-relationship-to-main"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/sprint11/household/other-household-members?check=true">
              {{ "Change" if data["person-" + i + "-relationship-to-main"] else "Answer"}}<span class="govuk-visually-hidden">Other Household Members</span>
            </a>
          </dd>
        </div>
      </dl>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            {{ "Person " + (i) + "'s age" }}
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["person-" + i + "-age"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/sprint11/household/other-household-members?check=true">
              {{ "Change" if data["person-" + i + "-age"] else "Answer"}}<span class="govuk-visually-hidden">Other Household Members</span>
            </a>
          </dd>
        </div>
      </dl>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            {{ "Which of these best describes person " + (i) + "'s gender identity?" }}
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["person-" + i + "-gender"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/sprint11/household/other-household-members?check=true">
              {{ "Change" if data["person-" + i + "-gender"] else "Answer"}}<span class="govuk-visually-hidden">Other Household Members</span>
            </a>
          </dd>
        </div>
      </dl>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            {{ "Which of these best describes person " + (i) + "'s working situation?" }}
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["person-" + i + "-economic-status"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/sprint11/household/other-household-members?check=true">
              {{ "Change" if data["person-" + i + "-economic-status"] else "Answer"}}<span class="govuk-visually-hidden">Other Household Members</span>
            </a>
          </dd>
        </div>
      </dl>
      {% endif %}
    {% endfor %}

    </dl>

    <form action="../tasklist" method="post" novalidate>
      {% if numberOfCompletedQuestions < numberOfQuestions %}
        <input type="hidden" name="household-completed" value="false">
      {% else %}
        <input type="hidden" name="household-completed" value="true">
      {% endif %}
      <button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>
    </form>

    {% import "./../_get-help.njk" as help %}
    {{ help.details() }}

  </div>
</div>

{% endblock %}
