{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a href="gender" class="govuk-back-link">Back</a>
  <a href="/sprint10/sign-in" class="govuk-link--right ">Sign out</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form name="form" class="form" action="../household-section" method="POST" novalidate="" data-validate="my-form-validation">

      <div class="govuk-form-group">

        <fieldset class="govuk-fieldset" aria-describedby="ethnicity-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Tenant's ethnic group
            </h1>
          </legend>
          <div id="ethnicity-hint" class="govuk-hint">

          </div>

          <div id="ethnicity-div">
            {% macro radio(data, group, items, changefn) %}
              <div class="govuk-form-group" id="{{ group }}">
                <div class="govuk-radios--small">
                  {% for i in range(0, items['items'].length) %}
                  {% set item = items['items'][i] %}
                  <div class="govuk-radios__item">
                    <input class="govuk-radios__input" id="{{ group }}-{{ i }}" name="{{ group }}" type="radio"
                      onchange="{{ changefn }}" value="{{ item['value'] }}" {{ 'checked' if data[group] == item['value'] }} />
                    <label class="govuk-label govuk-radios__label" for="{{ group }}-{{ i }}">
                      {{ item['text'] }}
                    </label>
                  </div>
                    {% endfor %}
                </div>
              </div>
            {% endmacro %}

            {{ radio(data, "ethnicity", {
              items: [
                {
                  value: "White: English/Scottish/Welsh/Northern Irish/British",
                  text: "White: English/Scottish/Welsh/Northern Irish/British"
                },
                {
                  value: "White: Irish",
                  text: "White: Irish"
                },
                {
                  value: "White: Gypsy/Irish Traveller",
                  text: "White: Gypsy/Irish Traveller"
                },
                {
                  value: "White: Other",
                  text: "White: Other"
                },
                {
                  value: "Mixed: White & Black Caribbean",
                  text: "Mixed: White & Black Caribbean"
                },
                {
                  value: "Mixed: White & Black African",
                  text: "Mixed: White & Black African"
                },
                {
                  value: "Mixed: White & Asian",
                  text: "Mixed: White & Asian"
                },
                {
                  value: "Mixed: Other",
                  text: "Mixed: Other"
                },
                {
                  value: "Asian or Asian British: Indian",
                  text: "Asian or Asian British: Indian"
                },
                {
                  value: "Asian or Asian British: Pakistani",
                  text: "Asian or Asian British: Pakistani"
                },
                {
                  value: "Asian or Asian British: Bangladeshi",
                  text: "Asian or Asian British: Bangladeshi"
                },
                {
                  value: "Asian or Asian British: Chinese",
                  text: "Asian or Asian British: Chinese"
                },
                {
                  value: "Asian or Asian British: Other",
                  text: "Asian or Asian British: Other"
                },
                {
                  value: "Black: Caribbean",
                  text: "Black: Caribbean"
                },
                {
                  value: "Black: African",
                  text: "Black: African"
                },
                {
                  value: "Black: Other",
                  text: "Black: Other"
                },
                {
                  value: "Other Ethnic Group: Arab",
                  text: "Other Ethnic Group: Arab"
                },
                {
                  value: "Other Ethnic Group: Other",
                  text: "Other Ethnic Group: Other"
                },
                {
                  value: "Prefer not to say",
                  text: "Prefer not to say"
                }
              ]
              }) }}
          </div>
      </div>

      <input type="hidden" name="next-page" value="nationality">
      <input type="hidden" name="ethnicity-page" value="true">
      <input type="hidden" name="household-inprogress" value="true">
      <div class="govuk-button-group">
        <input class="govuk-button" type="submit" value="Save and continue" onclick="saveContinue()"/>
        <a href="../home-page" class="govuk-link">Return to logs</a>
      </div>

      {% import "./../_get-help.njk" as help %}
      {{ help.details() }}

      </fieldset>
    </form>
  </div>
</div>

{% endblock %}
