{% extends "layout.html" %}
{% import "../_partials/_get-help.njk" as help %}
{% import "../_partials/_questions.njk" as question %}
{% import "../_partials/_helpers.njk" as helper %}

{% set title = "Tell us about the main tenant" %}
{% set sectionTitle = 'Household characteristics' %}
{% set groupId = 'household' %}
{% set sectionId = 'characteristics' %}
{% set version = data['version'] %}

{% block pageTitle %}
{{ helper.pageTitle(title, serviceName, errors) }}
{% endblock %}

{% block beforeContent %}
{{ helper.beforeContent() }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

  {{ helper.title(title,sectionTitle) }}

    {{ helper.errorSummary(errors, {
      'know-tenant-age': {
        href: 'know-tenant-age',
        message: 'You must tell us whether you know the tenants age'
      },
      'tenant-gender-identity': {
        href: 'tenant-gender-identity',
        message: 'You must tell us about the tenant’s gender identity'
      }
    })}}

    <form action="/{{ version }}/submit-form" method="post">

      {{ govukInput({
        id: "tenant-age",
        name: "tenant-age",
        value: data['tenant-age'],
        classes: "govuk-input--width-3",
        label: {
          text: "What is the tenant’s age in years?"
        },
        suffix: {
          text: "years"
        }
      }) }}

      {{ question.radios({
        legend: 'Which of these best describes the tenant’s gender identity?',
        id: 'tenant-gender-identity',
        items: data[version].radios['gender'],
        currentValue: data['tenant-gender-identity']
      }) }}

      {{ question.radios({
        legend: 'What is the tenant’s ethnic group?',
        id: 'tenant-ethnic-group',
        items: data[version].radios['ethnic-group'],
        currentValue: data['tenant-ethnic-group']
      }) }}

      {{ question.radios({
        legend: 'What is the tenant’s nationality?',
        id: 'tenant-nationality',
        items: data[version].radios['nationality'],
        currentValue: data['tenant-nationality']
      }) }}

      {{ question.radios({
        legend: "Which of these best describes the tenant's working situation?",
        id: 'tenant-economic-status',
        items: data[version].radios['economic-status'],
        currentValue: data['tenant-economic-status']
      }) }}

      <input type="hidden" name="next" value="/{{ version }}/{{ groupId }}-{{ sectionId }}/check-answers">
      <input type="hidden" name="this" value="/{{ version }}/{{ groupId }}-{{ sectionId }}/about-the-main-tenant">

      {{ govukButton({
        text: "Save and continue"
      }) }}
    </form>

    {{ helper.quit(version) }}
    {{ help.details() }}

  </div>
</div>
{% endblock %}
