{% extends "layout.html" %}
{% import "../_partials/_get-help.njk" as help %}
{% import "../_partials/_helpers.njk" as helper %}

{% set title = "Check your answers" %}
{% set sectionTitle = 'Household characteristics' %}
{% set sectionId = 'characteristics' %}
{% set version = data['version'] %}

{% block pageTitle %}
{{ helper.pageTitle(title, serviceName) }}
{% endblock %}

{% block beforeContent %}
{{ helper.beforeContent() }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {{ helper.title(title,sectionTitle) }}
       
    {{ helper.checkAnswers([
      {
        title: 'Tenant code',
        id: 'tenant-code',
        url: '/' + version + '/household-characteristics/tenant-code'
      },
      {
        title: 'Tenant’s age',
        id: 'tenant-age',
        url: '/' + version + '/household-characteristics/about-the-main-tenant#tenant-age'
      },
      {
        title: 'Tenant’s gender identity',
        id: 'tenant-gender-identity',
        url: '/' + version + '/household-characteristics/about-the-main-tenant#tenant-gender-identity',
        radios: 'gender'
      },
      {
        title: 'Tenant’s ethnic group',
        id: 'tenant-ethnic-group',
        url: '/' + version + '/household-characteristics/about-the-main-tenant#tenant-ethnic-group',
        radios: 'ethnic-group'
      },
      {
        title: 'Tenant’s nationality',
        id: 'tenant-nationality',
        url: '/' + version + '/household-characteristics/about-the-main-tenant#tenant-nationality',
        radios: 'nationality'
      }
    ],data,version)}}

    <a href="/{{ version }}/tasklist?complete=characteristics" class="govuk-button">Save and continue</a>

  </div>
</div>
{% endblock %}