{% extends "layout.html" %}
{% import "../_partials/_get-help.njk" as help %}
{% import "../_partials/_questions.njk" as question %}
{% import "../_partials/_helpers.njk" as helper %}

{% set title = "What is the tenant code?" %}
{% set sectionTitle = 'Household characteristics' %}
{% set sectionId = 'characteristics' %}
{% set version = data['version'] %}

{% block pageTitle %}
{{ helper.pageTitle(title, serviceName) }}
{% endblock %}

{% block beforeContent %}
{{ helper.beforeContent() }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <div class="govuk-error-summary" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="govuk-error-summary">
        <h2 class="govuk-error-summary__title" id="error-summary-title">There is a problem</h2>
        <div class="govuk-error-summary__body">
          <ul class="govuk-list govuk-error-summary__list">
            <li>
              <a href="#tenant-code">You must enter a tenant code</a>
            </li>
          </ul>
        </div>
      </div>
       
    <form action="/{{ version }}/submit-form" method="post">
      {{ question.text({
        sectionTitle: sectionTitle,
        questionTitle: title,
        questionId: 'tenant-code',
        version: version,
        value: data[version]['tenant-code']
      }) }}

      <input type="hidden" name="next" value="/{{ version }}/{{ sectionId }}/about-the-main-tenant">
      <input type="hidden" name="this" value="/{{ version }}/{{ sectionId }}/tenant-code">
      <input type="hidden" name="startSection" value="{{ sectionId }}">
      
      {# required error checking #}
      <input type="hidden" name="required[]" value="tenant-code">
      
      <button class="govuk-button">Save and continue</button>
    </form>

  </div>
</div>
{% endblock %}