{% extends "layout.html" %}

{% block pageTitle %}
Check your answers
{% endblock %}

{% block beforeContent %}
  <a href="conditions" class="govuk-back-link">Back</a>
  <a href="../sign-in" class="govuk-link--right ">Sign out</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-l">Check your answers</h1>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <h2 class="govuk-heading-m">Household needs</h2>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Armed Forces
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data["armed-forces"] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/sprint10/household-needs/armed-forces?check=true">
            Change<span class="govuk-visually-hidden">Armed Forces</span>
          </a>
        </dd>
      </div>
    </dl>

    {% if  data['armed-forces-tenure'] %}
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          When did they leave the Armed Forces?
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['armed-forces-tenure'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/sprint10/household-needs/armed-forces?check=true">
            Change<span class="govuk-visually-hidden">armed forces</span>
          </a>
        </dd>
      </div>
    </dl>
    {% endif %}

    {% if  data['armed-forces-injured'] %}
    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Has anyone in the household been seriously injured or ill as a direct result of their time and activities serving as a regular or reserve?
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data['armed-forces-injured'] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/sprint10/household-needs/armed-forces?check=true">
            Change<span class="govuk-visually-hidden">armed forces</span>
          </a>
        </dd>
      </div>
    </dl>
    {% endif %}

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Physical or Mental Health Conditions lasting more than 12 months
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data["long-term-conditions"] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/sprint10/household-needs/disabilities?check=true">
            Change<span class="govuk-visually-hidden">disabilities</span>
          </a>
        </dd>
      </div>
    </dl>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Pregnancy
        </dt>
        <dd class="govuk-summary-list__value">
          {{ data["pregnancy"] }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/sprint10/household-needs/pregnancy?check=true">
            Change<span class="govuk-visually-hidden">Pregnancy</span>
          </a>
        </dd>
      </div>
    </dl>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Disability Requirements
        </dt>
        <dd class="govuk-summary-list__value">
          {% set value = data["disabilities"] |d([]) | join(", ") %}
            {{ value | trim_end(", ") }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/sprint10/household-needs/disabilities?check=true">
            Change<span class="govuk-visually-hidden">disabilities</span>
          </a>
        </dd>
      </div>
    </dl>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <div class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">
          Conditions or illnesses
        </dt>
        <dd class="govuk-summary-list__value">
          {% set value = data["conditions"] |d([]) | join(", ") %}
            {{ value | trim_end(", ") }}
        </dd>
        <dd class="govuk-summary-list__actions">
          <a class="govuk-link" href="/sprint10/household-needs/disabilities?check=true">
            Change<span class="govuk-visually-hidden">disabilities</span>
          </a>
        </dd>
      </div>
    </dl>
    </dl>

    <form action="../tasklist" method="post" novalidate>
      <input type="hidden" name="household-needs-completed" value="true">
      <button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>
    </form>

  </div>
</div>

{% endblock %}
