{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a href="disabilities" class="govuk-back-link">Back</a>
  <a href="../sign-in" class="govuk-link--right ">Sign out</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form name="form" class="form" action="../household-needs-section" method="POST" novalidate="" data-validate="my-form-validation">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Does the household contain a pregnant person?
            </h1>
          </legend>
          <div class="govuk-radios govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="pregnancy" name="pregnancy" type="radio" value="Yes" {{ 'checked' if data['pregnancy'] == "Yes" }}>
              <label class="govuk-label govuk-radios__label" for="pregnancy">
                Yes
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="pregnancy" name="pregnancy" type="radio" value="No" {{ 'checked' if data['pregnancy'] == "No" }}>
              <label class="govuk-label govuk-radios__label" for="pregnancy-2">
                No
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="pregnancy" name="pregnancy" type="radio" value="Prefer not to say" {{ 'checked' if data['pregnancy'] == "Prefer not to say" }}>
              <label class="govuk-label govuk-radios__label" for="pregnancy-3">
                Prefer not to say
              </label>
            </div>
          </div>

        </fieldset>
      </div>

      <input type="hidden" name="next-page" value="requirements">
      <input type="hidden" name="pregnancy-page" value="true">
      <input type="hidden" name="household-needs-inprogress" value="true">
      <div class="govuk-button-group">
        <input class="govuk-button" type="submit" value="Save and continue" onclick="saveContinue()"/>
        <a href="../home-page" class="govuk-link">Return to logs</a>
      </div>

      </fieldset>

    </form>
  </div>
</div>

{% endblock %}
