{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="check-answers" method="POST" novalidate="" data-validate="my-form-validation">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Is the tenant in receipt of, or likely to be in receipt of, any of the following?
            </h1>
          </legend>

          <div class="govuk-form-group">
            <select class="govuk-select" id="benefit" name="benefit">
              <option value="Housing Benefit" selected>Housing Benefit (if not in receipt of Universal Credit)</option>
              <option value="Not in receipt of either UC or HB">Not in receipt of either UC or HB</option>
              <option value="Don't Know">Don't Know</option>
              <option value="UC - with housing element">UC - with housing element (and not in receipt of Housing Benefit)</option>
              <option value="UC - without housing element (and not in receipt of HB)">UC - without housing element (not in receipt of HB and tenants not eligible for housing support e.g. residential care home)</option>
              <option value="UC - without housing element (and in receipt of HB)">UC - without housing element (and in receipt of HB)</option>
            </select>
          </div>
        </fieldset>
      </div>

      <input type="hidden" name="benefits">
      <input type="hidden" name="benefits-and-income-inprogress" value="true">
      <input class="govuk-button" type="submit" value="Save and continue" />

    </form>
  </div>
</div>

{% endblock %}
