{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

{% set numberOfCompletedSections = 0 %}
{% if data['org-completed'] == 'true' %}
  {% set numberOfCompletedSections = numberOfCompletedSections + 1 %}
{% endif %}
{% if data['select-completed'] == 'true' %}
  {% set numberOfCompletedSections = numberOfCompletedSections + 1 %}
{% endif %}
{% if data['provider-completed'] == 'true' %}
  {% set numberOfCompletedSections = numberOfCompletedSections + 1 %}
{% endif %}
{% if data['tenancy-completed'] == 'true' %}
  {% set numberOfCompletedSections = numberOfCompletedSections + 1 %}
{% endif %}
{% if data['household-completed'] == 'true' %}
  {% set numberOfCompletedSections = numberOfCompletedSections + 1 %}
{% endif %}
{% if data['benefits-and-income--completed'] == 'true' %}
  {% set numberOfCompletedSections = numberOfCompletedSections + 1 %}
{% endif %}
{% if data['rent-and-other-charges-completed'] == 'true' %}
  {% set numberOfCompletedSections = numberOfCompletedSections + 1 %}
{% endif %}
{% if data['property-details-completed'] == 'true' %}
  {% set numberOfCompletedSections = numberOfCompletedSections + 1 %}
{% endif %}

{% set numberOfInProgressSections = 0 %}
{% if data['org-inprogress'] == 'true' %}
  {% set numberOfInProgressSections = numberOfInProgressSections + 1 %}
{% endif %}
{% if data['select-inprogress'] == 'true' %}
  {% set numberOfInProgressSections = numberOfInProgressSections + 1 %}
{% endif %}
{% if data['provider-inprogress'] == 'true' %}
  {% set numberOfInProgressSections = numberOfInProgressSections + 1 %}
{% endif %}
{% if data['tenancy-inprogress'] == 'true' %}
  {% set numberOfInProgressSections = numberOfInProgressSections + 1 %}
{% endif %}
{% if data['household-inprogress'] == 'true' %}
  {% set numberOfInProgressSections = numberOfInProgressSections + 1 %}
{% endif %}
{% if data['benefits-and-income--inprogress'] == 'true' %}
  {% set numberOfInProgressSections = numberOfInProgressSections + 1 %}
{% endif %}
{% if data['rent-and-other-charges-inprogress'] == 'true' %}
  {% set numberOfInProgressSections = numberOfInProgressSections + 1 %}
{% endif %}
{% if data['property-details-inprogress'] == 'true' %}
  {% set numberOfInProgressSections = numberOfInProgressSections + 1 %}
{% endif %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    <ul class="govuk-list">
      <li>
        <a class="govuk-button" href="tasklist" data-module="govuk-button">New Log</a>
      </li>
    </ul>
  </div>
  <div class="govuk-grid-column-three-quarters">
    <div class="govuk-form-group">
      <input class="govuk-input" id="event-name" name="event-name" placeholder="Search for logs" type="text">
    </div>
    {% if ((numberOfCompletedSections > 0) and (numberOfCompletedSections < 8)) or ((numberOfInProgressSections > 0) and (numberOfCompletedSections < 8)) %}
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Submissions in progress</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Log</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Completed sections</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">#342351
          </th>
          <td class="govuk-table__cell govuk-table__cell--numeric">{{ numberOfCompletedSections + 1 }} of 8 sections
          </td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a href="tasklist">View</a>
          </td>
        </tr>
      </tbody>
    </table>
    {% endif %}
    <br>
    <table class="govuk-table">
      <caption class="govuk-table__caption govuk-table__caption--m">Submitted</caption>
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Log</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Date</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">#922151
          </th>
          <td class="govuk-table__cell govuk-table__cell--numeric">29 7 2021
          </td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a href="tasklist">Edit</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">#182151
          </th>
          <td class="govuk-table__cell govuk-table__cell--numeric">27 7 2021
          </td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a href="tasklist">Edit</a>
          </td>
        </tr>
        <tr class="govuk-table__row">
          <th scope="row" class="govuk-table__header">#872251
          </th>
          <td class="govuk-table__cell govuk-table__cell--numeric">26 7 2021
          </td>
          <td class="govuk-table__cell govuk-table__cell--numeric"><a href="tasklist">Edit</a>
          </td>
        </tr>
      </tbody>
    </table>
    <p><a href="#" class="govuk-link">View all 3032 logs</a></p>
  </div>
</div>

{% endblock %}
