{% extends "layout.html" %}

{% block pageTitle %}
Check your answers
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-l">Check your answers</h1>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <h2 class="govuk-heading-m">Property</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Property Location
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["property-location"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/sprint8/property/property-location?check=true">
              Change<span class="govuk-visually-hidden">property-location</span>
            </a>
          </dd>
        </div>
      </dl>

      {% set value = data["postcode"] if data["postcode"] else "" %}
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            What was the previous postcode?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ value | trim_end(",") }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/sprint8/property/postcode?check=true">
              Change<span class="govuk-visually-hidden">postcode</span>
            </a>
          </dd>
        </div>
      </dl>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Which type was the property most recently let as?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["relet"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/sprint8/property/relet?check=true">
              Change<span class="govuk-visually-hidden">relet</span>
            </a>
          </dd>
        </div>
      </dl>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            What is the reason for the property vacancy?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["reason-for-vacancy"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/sprint8/property/reason-for-vacancy?check=true">
              Change<span class="govuk-visually-hidden">reason for vacancy</span>
            </a>
          </dd>
        </div>
      </dl>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            What’s the property reference?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["property-reference"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/sprint8/property/property-reference?check=true">
              Change<span class="govuk-visually-hidden">property reference</span>
            </a>
          </dd>
        </div>
      </dl>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Which type of unit is the property?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["type-of-unit"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/sprint8/property/type-of-unit?check=true">
              Change<span class="govuk-visually-hidden">Type of unit</span>
            </a>
          </dd>
        </div>
      </dl>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Which type of building is the property?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["type-of-building"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/sprint8/property/type-of-building?check=true">
              Change<span class="govuk-visually-hidden">Type of building</span>
            </a>
          </dd>
        </div>
      </dl>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            How many bedrooms are there in the property?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["bedrooms"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/sprint8/property/number-of-bedrooms?check=true">
              Change<span class="govuk-visually-hidden">Bedrooms</span>
            </a>
          </dd>
        </div>
      </dl>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            What is the void, new build handover or renewal date?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["void-date-day"] }} {{ data["void-date-month"] }} {{ data["void-date-year"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/sprint8/property/void-date?check=true">
              Change<span class="govuk-visually-hidden">void-date</span>
            </a>
          </dd>
        </div>
      </dl>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            What was the major repairs completion date?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["repair-date-day"] }} {{ data["repair-date-month"] }} {{ data["repair-date-year"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/sprint8/property/repair-date?check=true">
              Change<span class="govuk-visually-hidden">repair-date</span>
            </a>
          </dd>
        </div>
      </dl>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            How many times has this unit been previously offered since becoming available for relet since the last tenancy ended or as a first let?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["previously-offered"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/sprint8/property/previously-offered?check=true">
              Change<span class="govuk-visually-hidden">previously-offered</span>
            </a>
          </dd>
        </div>
      </dl>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Is property built or adapted to wheelchair user standards?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["wheelchair-accesible"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/sprint8/property/wheelchair-accesible?check=true">
              Change<span class="govuk-visually-hidden">Wheelchair accesible</span>
            </a>
          </dd>
        </div>
      </dl>
    </dl>

    <form action="../tasklist" method="post" novalidate>
      <input type="hidden" name="property-completed" value="true">
      <button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>
    </form>

  </div>
</div>

{% endblock %}
