{% import "./mhclg.html" as mhclg %}
{% extends "layout.html" %} {% block pageTitle %} Start page example {% endblock
%} {% block header %}
<!-- Blank header with no service name for the start page -->
{{ govukHeader() }} {% endblock %} {% block beforeContent %}
<script src="https://unpkg.com/dayjs@1.8.21/dayjs.min.js"></script>
<script src="https://unpkg.com/dayjs@1.8.21/plugin/customParseFormat.js"></script>

{{ mhclg.breadcrumbs(5, data) }}

{% endblock %} {% block content %}
{{ mhclg.page_title(5) }}
<form class="form" action="/prototype/singleupload/step6" method="POST">

  {{ mhclg.record_step(5, data)}}

  {{ mhclg.radio("step5", data, 'armed-forces', 'checkRegular()') }}

  {{ mhclg.radio("step5", data, 'regular-service') }}

  {# armed forces conditional render check and style#}
  <script>
    function checkRegular() {
      var val = document.getElementById("armed-forces-regular").checked;
      if (val) {
        document.getElementById("regular-service").style.display = "block";
        document.getElementById("regular-service").style.opacity = 1;
      } else {
        document.getElementById("regular-service").style.display = "none";
        document.getElementById("regular-service").style.opacity = 0;
      }
    }
    checkRegular();
  </script>

  {# health input #}

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      {{ mhclg.radio("step5", data, 'injury-illness') }}
    </fieldset>
  </div>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      {{ mhclg.radio("step5", data, 'pregnancy') }}
    </fieldset>
  </div>

  {# benefits Input #}

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      {{ mhclg.radio("step5", data, 'benefits') }}
    </fieldset>
  </div>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      {{ mhclg.radio("step5", data, 'benefit-proportion') }}
    </fieldset>
  </div>

  <div class="govuk-form-group">
    {{ mhclg.currency_field("step5", data, "income", "number") }}
  </div>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      {{ mhclg.radio("step5", data, 'regularity') }}
    </fieldset>
  </div>

  <div class="govuk-form-group">
      {{ mhclg.option("step5", data, 'reason-for-leaving-previous', 'checkReasonForLeaving()') }}
  </div>

  <div class="govuk-form-group" id="reason-for-leaving">
      <label class="govuk-label govuk-label--m" for="other-reason-for-leaving-previous">
        please state the reason for leaving last settled home
      </label>
    <input class="govuk-input" id="other-reason-for-leaving-previous" name="other-reason-for-leaving-previous" type="text" value="{{ data['other-reason-for-leaving-previous'] }}">
  </div>

  <script>
    function checkReasonForLeaving() {
      var val = document.getElementById("reason-for-leaving-previous").value;
      if (val == "Other") {
        document.getElementById("reason-for-leaving").style.display = "block";
        document.getElementById("reason-for-leaving").style.opacity = 1;
      } else {
        document.getElementById("reason-for-leaving").style.display = "none";
        document.getElementById("reason-for-leaving").style.opacity = 0;
      }
    }
    checkReasonForLeaving();
  </script>

  <style>
    #reason-for-leaving {
      display: none;
      opacity: 0;
      transition: opacity 2s;
    }
  </style>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      {{ mhclg.radio("step5", data, 'subsidy-cap') }}
    </fieldset>
  </div>

  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset" aria-describedby="disability-hint">
      {{ mhclg.checkboxes('step5', 'Select all that apply.', data, 'disability') }}
    </fieldset>
  </div>

  <div class="govuk-form-group">
    {{ mhclg.option("step5", data, 'previous-situation') }}
  </div>

  <div class="govuk-form-group">
    {{ mhclg.radio("step5", data, 'health-conditions-bool', 'checkHealthConditions()') }}
  </div>

  <div class="govuk-form-group" id="health-conditions">
    <fieldset class="govuk-fieldset" aria-describedby="health-conditions">
      {{ mhclg.checkboxes('step5', 'Select all that apply.', data, 'health-conditions') }}
    </fieldset>
  </div>

  <script>
    function checkHealthConditions() {
      if (document.getElementById("health-conditions-bool-yes").checked) {
        document.getElementById("health-conditions").style.display = "block";
        document.getElementById("health-conditions").style.opacity = 1;
      } else {
        document.getElementById("health-conditions").style.display = "none";
        document.getElementById("health-conditions").style.opacity = 0;
      }
    }
    checkHealthConditions();
  </script>

  {{ mhclg.submit() }}

</form>

{% endblock %}
