{% extends "layout.html" %}

{% block pageTitle %}
Check your answers
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-l">Check your answers</h1>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <h2 class="govuk-heading-m">Household details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            The LA in which household lived immediately before this letting
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["previous-la"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/sprint8/local-authority/previous-la">
              Change<span class="govuk-visually-hidden">previous-la</span>
            </a>
          </dd>
        </div>
      </dl>

      {% set value = data["previous-postcode"] if data["previous-postcode"] else "" %}
      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Postcode of previous accomodation if the household has moved from settled accommodation
          </dt>
          <dd class="govuk-summary-list__value">
            {{ value | trim_end(",") }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/sprint8/local-authority/previous-postcode">
              Change<span class="govuk-visually-hidden">previous-postcode</span>
            </a>
          </dd>
        </div>
      </dl>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            How long has the household continuously lived in the local authority area where the new letting is located?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["time-lived-in-la"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/sprint8/local-authority/time-lived-in-la">
              Change<span class="govuk-visually-hidden">time-lived-in-la</span>
            </a>
          </dd>
        </div>
      </dl>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            How long has the household been in the local authority waiting list where the new letting is located?
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["time-on-waiting-list"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/sprint8/local-authority/time-on-waiting-list">
              Change<span class="govuk-visually-hidden">time-on-waiting-list</span>
            </a>
          </dd>
        </div>
      </dl>
    </dl>

    <form action="../tasklist" method="post" novalidate>
      <input type="hidden" name="local-authority-completed" value="true">
      <button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>
    </form>

  </div>
</div>

{% endblock %}
