{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form name="form" class="form" action="reasonable-preference" method="POST" novalidate="" data-validate="my-form-validation">

      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset" aria-describedby="previous-postcode-hint">
          <legend class="govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Postcode for the previous accommodation
            </h1>
          </legend>
          <div id="previous-postcode-hint" class="govuk-hint">
            If the household has moved from settled accommodation immediately prior to being re-housed
          </div>

          <div class="govuk-form-group">
            {% set value = (data["previous-postcode"] if data["previous-postcode"] else "") | trim_end(",") %}
            <input class="govuk-input govuk-input--width-20" id="previous-postcode" name="previous-postcode" type="text" value="{{ value | escape }}">
          </div>
        </fieldset>
      </div>

      <input type="hidden" name="previous-postcode-page">
      <input type="hidden" name="local-authority-inprogress" value="true">
      <input class="govuk-button" type="submit" value="Save and continue" />

      </fieldset>

    </form>
  </div>
</div>

{% endblock %}
