<script src="https://unpkg.com/@flatfile/adapter/build/dist/index.min.js"></script>
{% extends "layout.html" %} {% block pageTitle %} Flat File {% endblock %} {%
block beforeContent %} {% endblock %} {% block content %}
<div>
  <button id="flatfile-button">Start Flatfile</button>
</div>
<script src="https://unpkg.com/@flatfile/adapter/build/dist/index.min.js"></script>
<script src="/public/javascripts/homeless_validations.js"></script>
<script>
  const importer = new FlatfileImporter(
    "b673cbe9-dda6-4045-a536-3ecff934d443",
    {
      type: "Import type",
      fields: [
        {
          label: "Age",
          key: "age",
          validators: [
            {
              validate: "regex_matches",
              regex: "^\\d{1,3}$",
              error:
                "Only can be number and must not be more than 3 digits in length.",
            },
          ],
        },
        {
          label: "Start date",
          key: "start_date",
        },
        { label: "Postcode 1", key: "postcode1" },
        { label: "Postcode 2", key: "postcode2" },
        { label: "Type of letting", key: "letting_type" },
        { label: "previous tenure", key: "previous_tenure" },
        {
          label: "How long has the tenant been in the tenency",
          key: "how_long_has_the_tenant_been_in_the_tenency",
        },
        homeless1, homeless2, homeless3, homeless4, homeless5,
      ],
      managed: false
    }
  );
  importer.setCustomer({
    userId: "54321",
    name: "John Doe",
    email: "john@doe.com",
    companyName: "Doe Industries",
    companyId: "12345",
  });
  const mapPostcodes = (el) => {
        const pc1 = el.postcode1;
        const pc2 = el.postcode2;

        if (pc1.length <= 4 && pc2.length == 3) {
          console.log(`postcode1: ${pc1}`);
          console.log(`postcode2: ${pc2}`);
        } else if (pc1.length > 4) {
          let postcode1 = pc1.substr(0, pc1.length - 3);
          let postcode2 = pc1.substr(pc1.length - 3);
          console.log(`postcode1: ${postcode1}`);
          console.log(`postcode2: ${postcode2}`);
        }
        return el;
  }
  const startImport = () => {
    importer.requestDataFromUser().then(function (results) {
      const data = results.data;

      data.map((el) => [mapPostcodes, mapHomelessness].map( (mapper) => mapper(el)));

      importer.displaySuccess("Thank you for your import!");
    });
  };
  const flatfileButton = document.getElementById("flatfile-button");
  flatfileButton.addEventListener("click", startImport);
</script>
<style></style>
{% endblock %}
