{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a href="previous-housing-situation" class="govuk-back-link">Back</a>
  <a href="../sign-in" class="govuk-link--right ">Sign out</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form name="form" class="form" action="../household-situation-section" method="POST" novalidate="" data-validate="my-form-validation">

      {% set options = [
        "Not homeless","Assessed as homeless (or threatened with homelessness within 56 days) by a local authority and owed a homelessness duty",
        "Other homelessness i.e. not found statutorily homeless by a housing authority but considered to be homeless by the letting"
        ] %}

      {% set optionsItems = [] %}

      {% for option in options %}
        {% set optionsItems = (optionsItems.push({value: option, text: option, checked: checked("homeless", option)}), optionsItems) %}
      {% endfor %}

      <legend class="govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          Immediately prior to this letting, was this household …?
        </h1>
      </legend>

      {{ govukRadios({
      idPrefix: "homeless",
      name: "homeless",
      items: optionsItems
    }) }}

      <input type="hidden" name="homeless-page" value="true">
      <input type="hidden" name="household-situation-inprogress" value="true">
      <input class="govuk-button" type="submit" value="Save and continue" />

      </fieldset>

    </form>
  </div>
</div>

{% endblock %}
