{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a href="../tasklist" class="govuk-back-link">Back</a>
  <a href="../sign-in" class="govuk-link--right ">Sign out</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form name="form" class="form" action="../household-situation-section?next=homeless" method="POST" novalidate="" data-validate="my-form-validation">

      {% set situations = [
        "Owner occupation (private)","Owner occupation (low cost home ownership)","Private sector tenancy","Tied housing or rented with job","Supported housing","Sheltered accomodation","Residential care home","Living with friends or family","Refuge","Hospital","Prison / Approved Probation Hostel","Direct access hostel","Bed &amp; Breakfast","Mobile home / caravan","Any other temporary accommodation","Home Office Asylum Support","Children’s home / foster care","Rough sleeping","Other","Fixed term Local Authority General Needs tenancy","Lifetime Local Authority General Needs tenancy","Fixed term PRP General Needs tenancy","Lifetime PRP General Needs tenancy"
        ] %}

      {% set previousHousingSituationItems = [] %}

      {% for situation in situations %}
        {% set previousHousingSituationItems = (previousHousingSituationItems.push({value: situation, text: situation, checked: checked("previous-housing-situation", situation)}), previousHousingSituationItems) %}
      {% endfor %}

      <legend class="govuk-fieldset__legend--l">
        <h1 class="govuk-fieldset__heading">
          The housing situation for this household immediately before this letting
        </h1>
      </legend>

      {{ govukRadios({
      idPrefix: "previous-housing-situation",
      name: "previous-housing-situation",
      classes: "govuk-radios--small",
      items: previousHousingSituationItems
    }) }}

      <input type="hidden" name="next-page" value="homeless">
      <input type="hidden" name="previous-housing-situation-page" value="true">
      <input type="hidden" name="household-situation-inprogress" value="true">
      <input class="govuk-button" type="submit" value="Save and continue" />

      </fieldset>

    </form>
  </div>
</div>

{% endblock %}
