{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a href="homeless" class="govuk-back-link">Back</a>
  <a href="../sign-in" class="govuk-link--right ">Sign out</a>
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form name="form" class="form" action="check-answers" method="POST" novalidate="" data-validate="my-form-validation">

      <div class="govuk-form-group">

        <fieldset class="govuk-fieldset" aria-describedby="reason-for-leaving-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              In the tenant’s view what was the main reason the household left their last settled home?
            </h1>
          </legend>
          <div id="reason-for-leaving-hint" class="govuk-hint">

          </div>

          {% set options = [
            "Permanently decanted from another property owned by this landlord","Left home country as a refugee",
            "Loss of tied accommodation","Domestic abuse","(Non violent) relationship breakdown with partner",
            "Asked to leave by family or friends","Racial harassment","Other problems with neighbours",
            "Property unsuitable because of overcrowding","End of assured shorthold tenancy - no fault",
            "End of assured shorthold tenancy - tenant's fault","End of fixed term tenancy - no fault",
            "End of fixed term tenancy - tenant's fault","Repossession","Under occupation - offered incentive to downsize",
            "Under occupation - no incentive","Property unsuitable because of ill health / disability",
            "Property unsuitable because of poor condition","Couldn't afford fees attached to renewing the tenancy",
            "Couldn't afford increase in rent","Couldn't afford rent or mortgage - welfare reforms",
            "Couldn't afford rent or mortgage - employment","Couldn't afford rent or mortgage - other",
            "To move nearer to family / friends / school","To move nearer to work","To move to accomodation with support",
            "To move to independent accomodation","Hate crime","Death of household member in last settled accomodation",
            "Discharged from prison","Discharged from long stay hospital or similar institution","Other","Don't know"
          ] %}

          {% set optionsItems = [] %}

          {% for option in options %}
            {% set optionsItems = (optionsItems.push({value: option, text: option, checked: checked("reason-for-leaving", option)}), optionsItems) %}
          {% endfor %}

          {{ govukRadios({
          idPrefix: "reason-for-leaving",
          name: "reason-for-leaving",
          classes: "govuk-radios--small",
          items: optionsItems
        }) }}
      </div>

      <div id="other-reason-for-leaving-group" class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Please state the reason for leaving last settled home
            </h1>
          </legend>

          <div class="govuk-form-group">
            <input class="govuk-input govuk-input--width-20" id="other-reason-for-leaving" name="other-reason-for-leaving" type="text">
          </div>
      </div>

      <style>
      #other-reason-for-leaving-group {
        display: none;
      }
      </style>


      <div class="govuk-form-group">
        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Was the reason for leaving a direct result of the removal of the spare room subsidy or benefit cap introduced from 2013?
            </h1>
          </legend>
          <div class="govuk-radios govuk-radios--small">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="reason-removal" name="reason-removal" type="radio" value="Yes: Removal of the spare room subsidy" {{ 'checked' if data['reason-removal'] == "Yes: Removal of the spare room subsidy" }}>
              <label class="govuk-label govuk-radios__label" for="reason-removal">
                Yes: Removal of the spare room subsidy
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="reason-removal" name="reason-removal" type="radio" value="Yes: Benefit cap" {{ 'checked' if data['reason-removal'] == "Yes: Benefit cap" }}>
              <label class="govuk-label govuk-radios__label" for="reason-removal-2">
                Yes: Benefit cap
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="reason-removal" name="reason-removal" type="radio" value="Yes: Both" {{ 'checked' if data['reason-removal'] == "Yes: Both" }}>
              <label class="govuk-label govuk-radios__label" for="reason-removal-3">
                Yes: Both
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="reason-removal" name="reason-removal" type="radio" value="No" {{ 'checked' if data['reason-removal'] == "No" }}>
              <label class="govuk-label govuk-radios__label" for="reason-removal-4">
                No
              </label>
            </div>
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="reason-removal" name="reason-removal" type="radio" value="Don't Know" {{ 'checked' if data['reason-removal'] == "Don't Know" }}>
              <label class="govuk-label govuk-radios__label" for="reason-removal-4">
                Don't Know
              </label>
            </div>
          </div>

        </fieldset>
      </div>

      <input type="hidden" name="reason-for-leaving-page" value="true">
      <input type="hidden" name="household-situation-inprogress" value="true">
      <input class="govuk-button" type="submit" value="Save and continue" />

      </fieldset>
    </form>
  </div>
</div>

<script>
  function displayConditional() {
    const other = document.getElementById("reason-for-leaving").value == "Other"
    if(other){
      document.getElementById("other-reason-for-leaving-group").style.display = "block";
    } else {
      document.getElementById("other-reason-for-leaving-group").style.display = "none";
      document.getElementById("other-reason-for-leaving-group").value = "";
    }
  }
  // So that this runs if you've already answered and hit the back button
  displayConditional()
</script>

{% endblock %}
