{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="check-answers" method="POST" novalidate="" data-validate="my-form-validation">

      <div class="govuk-form-group">

        <fieldset class="govuk-fieldset" aria-describedby="gdpr-hint">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              GDPR
            </h1>
          </legend>
          <div id="gdpr-hint" class="govuk-hint">
            Pleaase confirm that the tenant gave their consent to the processing of their data in accordance with GDPR
          </div>

          <div class="govuk-checkboxes" data-module="govuk-checkboxes">
            <div class="govuk-checkboxes__item">
              <input class="govuk-checkboxes__input" id="gdpr" name="gdpr" type="checkbox" value="Confirmed">
              <label class="govuk-label govuk-checkboxes__label" for="gdpr">

              </label>
            </div>
          </div>

          <br />
          <br />

          <input type="hidden" name="GDPR">
          <input class="govuk-button" type="submit" value="Save and continue" />

        </fieldset>
    </form>
  </div>
</div>

{% endblock %}
