{% extends "layout.html" %}

{% block pageTitle %}
GOV.UK Prototype Kit
{% endblock %}

{% block content %}


<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form class="form" action="GDPR" method="POST" novalidate="" data-validate="my-form-validation">

      <div class="govuk-form-group">

        <fieldset class="govuk-fieldset">
          <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
            <h1 class="govuk-fieldset__heading">
              Which form do you need?
            </h1>
          </legend>

          <div class="govuk-radios">
            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="which-formn" type="radio" name="which-form" value="Social Rent General Needs" data-value="Social Rent General Needs">
              <label class="govuk-label govuk-radios__label" for="which-formn">
                Social Rent General Needs
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="which-form" type="radio" name="which-form" value="Social Rent Supporting Housing" data-value="Social Rent Supporting Housing">
              <label class="govuk-label govuk-radios__label" for="which-form-2">
                Social Rent Supporting Housing
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="which-form" type="radio" name="which-form" value="Affordable Rent General Needs" data-value="Affordable Rent General Needs">
              <label class="govuk-label govuk-radios__label" for="which-form-3">
                Affordable Rent General Needs
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="which-form" type="radio" name="which-form" value="Affordable Rent Supporting Housing" data-value="Affordable Rent Supporting Housing">
              <label class="govuk-label govuk-radios__label" for="which-form-4">
                Affordable Rent Supporting Housing
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="which-form" type="radio" name="which-form" value="Rent To Buy General Needs" data-value="Rent To Buy General Needs">
              <label class="govuk-label govuk-radios__label" for="which-form-5">
                Rent To Buy General Needs
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="which-form" type="radio" name="which-form" value="Rent To Buy Supported Housing" data-value="Rent To Buy Supported Housing">
              <label class="govuk-label govuk-radios__label" for="which-form-6">
                Rent To Buy Supported Housing
              </label>
            </div>

            <div class="govuk-radios__item">
              <input class="govuk-radios__input" id="which-form" type="radio" name="which-form" value="Sales Log" data-value="Sales Log">
              <label class="govuk-label govuk-radios__label" for="which-form-7">
                Sales Log
              </label>
            </div>

          </div>
      </div>

      <input type="hidden" name="which-form">
      <input class="govuk-button" type="submit" value="Save and continue" />

      </fieldset>
    </form>
  </div>
</div>

{% endblock %}
