{% extends "layout.html" %}

{% block pageTitle %}
Check your answers
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-l">Check your answers</h1>

    <dl class="govuk-summary-list govuk-!-margin-bottom-9">
      <h2 class="govuk-heading-m">Income & Benefits</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Income
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["income"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/sprint10/income-and-benefits/income?check=true">
              Change<span class="govuk-visually-hidden">Income</span>
            </a>
          </dd>
        </div>
      </dl>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Income Frequency
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["income-frequency"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/sprint10/income-and-benefits/income?check=true">
              Change<span class="govuk-visually-hidden">Income Frequency</span>
            </a>
          </dd>
        </div>
      </dl>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Benefits as a proportion of income
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["benefit-proportion"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/sprint10/income-and-benefits/benefit-proportion?check=true">
              Change<span class="govuk-visually-hidden">Benefit Proportion</span>
            </a>
          </dd>
        </div>
      </dl>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Universal Credit & Housing Benefit
          </dt>
          <dd class="govuk-summary-list__value">
            {{ data["benefit"] }}
          </dd>
          <dd class="govuk-summary-list__actions">
            <a class="govuk-link" href="/sprint10/income-and-benefits/benefits?check=true">
              Change<span class="govuk-visually-hidden">Benefits</span>
            </a>
          </dd>
        </div>
      </dl>
    </dl>


    <form action="../tasklist" method="post" novalidate>
      <input type="hidden" name="income-and-benefits-completed" value="true">
      <button class="govuk-button" data-module="govuk-button">
        Save and continue
      </button>
    </form>

  </div>
</div>

{% endblock %}
