{% extends "layout.html" %}

{% from "govuk/components/summary-list/macro.njk" import govukSummaryList %}
{% from "govuk/components/breadcrumbs/macro.njk" import govukBreadcrumbs %}

{% block pageTitle %} Case {{query.case}}  {% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    {{ govukBreadcrumbs({ items: [{ text: "Dashboard", href: "/sprint3/dashboard" }, { text: "Case View" } ] }) }}

    <div>
      <h2 class="govuk-heading-m">Case ID: {{query.case}}</h2>
      {% for section in data.sprint3.individualCases[query.case].data %}
      {% if section.title %}
      <h3 class="govuk-heading-m">{{section.title}}</h3>
      {% endif %}

      {% if section.rows.length > 0 %}
      <dl class="govuk-summary-list">
        {% for row in section.rows %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key {% if row.invalid %}invalid{% endif %}">
            {{row.label | safe}}
          </dt>
          <dd class="govuk-summary-list__value">
            {{row.value | safe}}
          </dd>
          <dd class="govuk-summary-list__actions">

          </dd>
        </div>
        {% endfor %}
      </dl>
      {% endif %}

      {% for section in section.sections %}
      <h3 class="govuk-caption-m">{{section.title}}</h3>

      {% if section.rows.length > 0 %}
      <dl class="govuk-summary-list">
        {% for row in section.rows %}
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key {% if row.invalid %}invalid{% endif %}">
            {{row.label | safe}}
          </dt>
          <dd class="govuk-summary-list__value">
            {{row.value | safe}}
          </dd>
          <dd class="govuk-summary-list__actions">

          </dd>
        </div>
        {% endfor %}
      </dl>
      {% endif %}
      {% endfor %}
      {% endfor %}
    </div>
  </div>
</div>

<style>
  .invalid {
    color: #d4351c;
    border-left: 5px solid #d4351c;
    padding-left: 5px;
  }
</style>
{% endblock %}
